/*
Theme Name:Black Bear Lodge
Description: Main Responisve Theme
Version: v1
Author: Ranklab
Author URI: http://www.ranklab.com
*/

/*------------------------------------*\
        Colors
\*------------------------------------*/
Lighter Brown #a67c52
Light Brown #8c6239
Dark Brown #754c24
Darker Brown #603913


Yellow #fff5db
Forest Service Green #71c2b3


/* ------------------------------------ *\
        External Modules/Files
\* ------------------------------------ */
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700|Quattrocento+Sans:400,700,400italic,700italic);

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.comf
   ========================================================================== */

html,button,input,select,textarea{color:#8c6239}

body{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;font-size:1em;line-height:1.4;background:url(style/images/bg/main-bg.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}

::-moz-selection {background: #b3d4fc; text-shadow: none;}
::selection {background: #b3d4fc; text-shadow: none;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
img {vertical-align: middle;}
fieldset {border: 0; margin: 0; padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;}

a{color:#62a89b;text-decoration:none; outline:none; font-weight:600;}
a:hover{color:#70c2b3;}
a:active{outline: none;}



/* ===================
    ALL: Theme
   =================== */
body {color:#8c6239; font: 1em 'Quattrocento', Helvetica, Arial;}
.wrapper {width: 100%; margin: 0 5%;}

.text-block{float:left;}
.image-block{float:left;}
.left{float:left;}
.right{float:right;}

.inner{margin-bottom:100px;}
.header-container {width:100%; overflow:visible; }
.inner-page{background: url(style/images/trans/yel-90.png) top left repeat; }

/* logo */
.logo{width:150px; float:left; margin:10px;}
.logo a{display:block; margin:1% }

@media only screen and (min-width:1025px) {
    .logo{width:120px; float:left; margin:10px;}
    .logo a{display:block; margin:1% }
}

/*	Cycle */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cycle-slideshow { width:70%; padding: 0; }


/*  Footer  */
.footer-container div {box-sizing: border-box;}
.footer-container{background: url(style/images/trans/blk-50.png) top left repeat; color:#fff5db; padding: 64px 0;}
.footer-container .tier-content-block{padding: 10% 5% 15% 5%;overflow:auto;}
.footer-container a{color:#fff5db;}

.logo-footer{width:100%; float:left; overflow: hidden; margin-bottom:1em;}
.logo-footer a{display:block; width:25%; margin:0 auto; }

.footer-side-left{width:25%;}
.footer-side-right{width:25%;}
.footer-center{width:50%; text-align: center;}
.footer-center h2{font-weight:300; font-size:2.3em; margin-bottom:.8em;color:#fff5db;}
.footer-bottom {font-style: italic;font-size:15px;}

footer ul { list-style: none; }
footer ul li { }

.footer-container .sl_inner {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

.footer-container .sl_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}

.footer-container .sl_columns {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
}

.facility-info li{padding-left: 50px; height:40px;padding-top:10px; font-weight:700; margin-bottom:.5em;}
.facility-info li.icon-sm-phone{font-size:1.6em; padding-top:5px;}

.facility-address li{padding-left: 50px; height:90px;padding-top:0px; font-weight:700; margin-bottom:.5em;}
.facility-address li.icon-sm-phone{font-size:1.6em; padding-top:5px;}

.footer-social{margin-top:50px;overflow:hidden;}
.footer-social li{padding:10px 0 0 50px; height:40px;font-size:1.1em; font-weight:700; margin-bottom:.5em;}


    @media only screen and (max-width: 551px) {
        .naatp-logo {
            padding-top:15px;
        }
    }

#copyright{font-size:70%; color:#8a8a8a;}

#bottom-bar{ width:100%; background:#71c2b3; position:fixed; bottom:0; height:70px;}
#bottom-bar-left{float:left; width:70%; color:#fff;}
#bottom-bar-left .bottom-c {
    width: 100%; padding: 1em 1em 1em 1em;
    /*background: url(style/images/footer-pinecone.png) 10px 10px no-repeat;*/
}
#bottom-bar-left .bottom-c .message-c{float:left; margin-right:2em;}
#bottom-bar-left .bottom-c .phone-c{float:left;}

#bottom-bar-left h2{margin:0; padding:0;font-size:1.4em; line-height:1em;}
#bottom-bar-left h2.phone-text{font-size:2.5em; color:#603913; text-shadow: 1px 1px #fff;}
#bottom-bar-left h2.phone-text a {color: #8c6239;}
#bottom-bar-left p{color:#534741; font-size:.9em; line-height: 1em; margin:0;}
#bottom-bar-right{float:right; padding:0 2em 0 0; height:70px; background: #fff5db url(style/images/footer-arrow.jpg) left center no-repeat;}
#bottom-bar-right .btn-small{margin:17px 0 0 100px;}

/* JETPACK SMILEY FACE IN FOOTER */
#wpstats {display:none}

/*------------------------------------*\
    COLUMNS
\*------------------------------------*/
.one-half{ width:46%; }
.one-third{ width:28.66%;}
.two-third{ width:63.33%; }
.one-fourth{ width:20%; }
.three-fourth{ width:72%; }
.one-fifth{ width:15.8%; }
.two-fifth{ width:33.6%; }
.three-fifth{ width:56.4%; }
.four-fifth{ width:76%; }
.one-sixth{ width:12.63%; }
.five-sixth{ width:79.37%; }
.one-half,.one-third,.two-third,.three-fourth,.one-fourth,.one-fifth,.two-fifth,.three-fifth,.four-fifth,.one-sixth,.five-sixth{ position:relative; padding-bottom: 5%; padding-right:4%; overflow:hidden; margin:0px 0 20px 0; float:left; line-height: 24px; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}
.space {height:1px;width:100%;clear:both;background:none;padding:10px 0;}
.row{display: table; width: 100%;}
.end {
  padding-right: 0!important;
  float: right;
}


/*------------------------------------*\
    LISTS
\*------------------------------------*/
ul.no-pad{padding-left:0;}
ul.list-space li{margin-bottom:1em;}
ul{padding:0;}
ol{padding-left: 30px;}
ul li{list-style: none; background: url(style/images/icons/icon-pinecone-list.png) top left no-repeat; padding-left:30px; font-weight:600; line-height:1.5em; margin-bottom:5px;}

ul.arrowlist{}
ul.arrowlist li {list-style: none; background: url(style/images/icons/icon-arrow-l-brw-list.png) top left no-repeat; padding-left:30px; font-weight:600; line-height:1.5em; margin-bottom:5px;}
.sd-content ul li {background-image: none; padding: 0 !important;}
.sd-content ul li:before {display: none !important;}


/* ==============
    Nav
   ============== */
/*Initialize*/
#nav ul {
    position: absolute;
    top:40px;
    left:150px;
    list-style: none;
    width: 89%;
}
#nav ul, ul ul.sub-menu {
    padding:0;
    margin: 0;
}
#nav ul li, ul ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
    background-image: none;
    padding-left:0;
}
nav#main-nav li.current_page_item, 
nav#main-nav li.current_page_parent{
    
}

#nav ul li{text-transform: uppercase;}
#nav ul.sub-menu li{text-transform:capitalize;}
/*Link Appearance*/
#nav ul li a, ul li ul.sub-menu li a {
    text-transform: uppercase;
    color:#754c24;
    font-weight:700;
    padding:0 1em;
    line-height:1em;
}
#nav ul li:hover{background: url(style/images/trans/whi-90.png) top left repeat;}
#nav ul li:hover a{color:#71c2b3;}
/*Make the parent of sub-menu relative*/
#nav ul li {
    position: relative;
    line-height:30px;
}

/*sub menu*/
#nav ul li:hover ul.sub-menu {display:block;z-index:5;}
#nav ul li:hover ul.sub-menu li {width:280px;}
#nav ul li:hover ul.sub-menu li:hover{background: none;}
#nav ul li:hover ul.sub-menu li a{color:#8c6239; font-size:.8em; width:100%; display:block;}
#nav ul li:hover ul.sub-menu li a:hover{color:#71c2b3;}
#nav ul li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 280px;
    background: url(style/images/trans/whi-90.png) top left repeat;
    padding:.8em .8em .8em .8em;
}


#responsive-menu-button {
    display: block;
    width: 43px;
    height: 40px;
    position: fixed;
    text-indent: -9999px;
    overflow: hidden;
    background: #fff url(style/images/hamburger.png) no-repeat 50% 50%;
    outline: none;
    z-index: 5;
    border: 1px solid #a25e42;
    border-radius: 3px;
    margin: 2px 0 0 2px;
    box-shadow: 1px 1px 5px #483722;
}


/*
        Top Nav
*/
#top-right-nav{ margin-right:3px; position: absolute; top:0; right:190px;}
#top-nav ul{margin:0; padding:0;}
#top-nav ul li{list-style:none; float:left; background:none; padding:0;margin-left:20px;}
#top-nav ul li a{ line-height:40px;font-size:.8em; color:#8c6239; }
#top-nav ul li.phone-bg{margin-left:10px; }
.phone-bg{color:#fff; font-size:120%; background: url(style/images/phone-bg.png) center center no-repeat; background-size: cover;display: block;padding:0 15px;line-height:40px; margin-left:15px; position:absolute; top:0; right:0;z-index:1;}
.phone-bg a{color:#fff;}
.phone-icon-sm{background: url(style/images/icons/icon-small-phone.png) top left no-repeat; height:19px; width:19px; padding-left:20px;}



/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {padding-top: 20px;}



.jp-carousel-photo-info h2 {display:none;}
.jp-carousel-left-column-wrapper{display: none;}
.jp-carousel-image-meta{display: none;}



/* ==========================================================================
   Custom Styles
   ========================================================================== */
/*------------------------------------*\
    SOCIAL
\*------------------------------------*/
ul#social{clear:both; padding:0; list-style: none; position: relative; float: left; display: block; left: 50%;}
ul#social li{position: relative; float: left; display: block; right: 50%;}
ul#social li a{display:block; width:80px; height:80px; text-indent:-9999px; float:left;}
ul#social li.facebook{background: url(style/images/icons/icon-facebook-lt.png) top left no-repeat;margin-left:0;}
ul#social li.email{background: url(style/images/icons/icon-email-lt.png) top left no-repeat; }




/*------------------------------------*\
        BUTTONS
\*------------------------------------*/
/* General button style (reset) */
.btn {border: none; font-family: inherit; font-size: inherit; color: inherit; background: none; cursor: pointer;  display: inline-block; margin: 0; text-transform: uppercase; letter-spacing: 1px; font-weight: 700; outline: none; position: relative; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; padding: 25px 25px 25px 60px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:1.1em;
      -webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 8px 6px -6px black;
}
.btn:hover{box-shadow: none;}

.btn-small {border: none; font-family: inherit; font-size: inherit; color: inherit; background: none; cursor: pointer;  display: inline-block; margin: 0; text-transform: uppercase; letter-spacing: 1px; font-weight: 700; outline: none; position: relative; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; padding: 10px 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:1.1em;}

.btn:after {content: ''; position: absolute; z-index: -1; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}

.btn:before {speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; position: relative; -webkit-font-smoothing: antialiased; /* background: rgba(0,0,0,0.2); */}

.btn-brown {background: #754c24;color: #fff;text-shadow:-1px -1px #555;}
.btn-brown:hover {background: #8c6239;}
.btn-brown:active {background: #73512f;top: 2px;}
.btn-brown:before {position: absolute; height: 100%; left: 0; top: 3px; line-height: 3; font-size: 140%; width: 60px;}
.btn-small.btn-brown {font-size:90%;}

.btn-green {background: #71c2b3;color: #fff;text-shadow:-1px -1px #538f84;}
.btn-green:hover {background: #7fdbca;}
.btn-green:active {background: #71c2b3;top: 2px;}
.btn-green:before {position: absolute; height: 100%; left: 0; top: 3px; line-height: 3; font-size: 140%; width: 60px;}

.icon-pinecone-sm-lt:before {content:url(style/images/icons/icon-pinecone-sm.png);}
.icon-pinecone-sm-drk:before {content:url(style/images/icons/icon-pinecone-sm-drk.png);}
.icon-chat-small:before {content:url(style/images/icons/icon-chat-small.png);}
.icon-email-small:before {content:url(style/images/icons/icon-email-small.png);}


/* 
        EASE IN LINKS 
*/
a, .button, a:hover, .button:hover {-webkit-transition:all 100ms ease-in; -moz-transition:all 100ms ease-in; -ms-transition:all 100ms ease-in; -o-transition:all 100ms ease-in; transition:all 100ms ease-in}


/*------------------------------------*\
    POSTS
\*------------------------------------*/
article.blog{margin-bottom:8%;}
article.blog .text-block{width:75%;} 
article.blog h2{font-size:2em; line-height: 1em;margin:0;}
article.blog p{}
article.blog .side-block{width:20%; float:left; padding-right:5%;}
.postmeta-block{background: url(style/images/trans/whi-50.png) top left repeat;padding:1em 1em .1em 1em;}
.postmeta{line-height: 1em; font-size:12px; display:block; margin-bottom:15px; color:#948472;}
.postmeta.icon-pc-s{background: url(style/images/icons/icon-pinecone-lrg-drk.png) left 0px no-repeat; overflow: hidden; padding-left:45px;text-align:left;}
.postmeta.icon-pc{background: url(style/images/icons/icon-pinecone-lrg-drk.png) center 0 no-repeat; overflow: hidden; padding-top:45px;text-align: center;}
.postmeta span{clear:both; display:block;margin-bottom:5px;}
.postmeta a{color:#948472;}
.postmeta p{line-height:1em;margin:0 0 5px 0;padding:0;}


/*------------------------------------*\
    FEAUTURES
\*------------------------------------*/
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}



/*
        Pagination
*/
ul.page-numbers{clear:both; padding:0; text-align:center; float:left; margin:50px auto 0 40%;}
ul.page-numbers li{list-style: none;display:block; float:left; height:50px; background-color: #a67c52; font-weight:700; line-height:50px;margin-right:1px;background-image: none;padding-left:0;}
ul.page-numbers li a{display:block; height:100%; float:left; background-position: top left no-repeat; font-weight:700; color:#fff; padding:0 20px;}
ul.page-numbers li a:hover{background-color:#754c24;}
ul.page-numbers li .current{padding:0 20px;height:50px;display:block;background-color:#754c24; color:#fff;}



/*------------------------------------*\
        TYPOGRAPHY
\*------------------------------------*/
h1, h2, h3,h4 ,h5{margin-bottom:0;}
h1{}
h2{}
h3{}
h4{}
h5{}

.large-text{font-size:3em;}

p{font-family: 'Quattrocento Sans', Helvetica, Arial; line-height:1.5em;}
p.sub-text{font-family: 'Quattrocento', Helvetica, Arial; font-size:1.3em; line-height:1.4em;}
p.sub-text-g{color:#71C2B3; font-family: 'Quattrocento', Helvetica, Arial; font-size:1.5em; font-weight: bold; line-height:1.6em;}

.drk-brown{color:#603913;}
.green{color:#71c2b3;}
.drk-green{color:#0d454b;}
.yellow{color:#fff5db;}
.light-brown{color:#8c6239;}
.lighter-brown{color:#a67c52;}
.white{color:#fff;}


/*------------------------------------*\
    FORMS
\*------------------------------------*/
label{display: block;}
/* INPUT & TEXTAREA */
input, 
textarea {
    font-size: 1em;
    font-weight: normal;
    padding:10px;
    color: #777;
    background: #fff;
    background: #fff;
    border-top: solid 1px #aaa;
    border-left: solid 1px #aaa;
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: 0;
}

input:focus,
textarea:focus {}




/*------------------------------------*\
    PAGE ID
\*------------------------------------*/
#page-id{overflow: hidden; background: url(style/images/trans/brwn-drk-80.png) top left repeat; color:#fff5db;}
#page-id .tier-content-block{padding:3% 5%; overflow:hidden;}
#page-id .text-block{float:left; } /* width:50%;*/
#page-id .text-block h1{line-height:1.3em; margin:0 0 0 0;padding:0;} 
#page-id .text-block.icon-pinecone-lrg-lt{padding-left:35px; min-height:70px; background-position: 0 0;}
#page-id .text-block.page-message {width:40%; float:right;}
#page-id .text-block.page-message h2{color:#71c2b3; font-size:1.2em; font-weight:600; line-height:1.3em; margin:0;}
#page-id h1{font-weight:300; text-transform:uppercase; line-height: 1em; padding:0; float:left;}




/*------------------------------------*\
    FURTHER READING
\*------------------------------------*/
#further-reading{overflow:hidden; background: url(style/images/trans/brwn-drk-90.png) top left repeat; color:#fff5db;clear:both;}



/*------------------------------------*\
    BREADCRUMB
\*------------------------------------*/
#bread-wrapper{font-weight:bold; clear:both;}	
p#breadcrumb {font-size:14px; text-transform:uppercase; color:#fff5db; margin-right:10px; float:left; line-height:1em; margin:0; font-weight:300;}	
p#breadcrumb  a {color:#fff5db; float:left; font-weight:300;}		
p#breadcrumb a:hover {color:#71c2b3;}	
p#breadcrumb .current{}
p#breadcrumb a.home{}
p#breadcrumb .breadcrumb-arrow{background: url(style/images/icons/icon-pinecone-bc.png) center left no-repeat; height:15px; width:15px;  display:block; float:left; margin:0 5px;}



/*------------------------------------*\
    SHADOWS
\*------------------------------------*/
.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}



/*------------------------------------*\
    TIERS
\*------------------------------------*/
.tier{overflow:auto; width:100%; clear:both;}
.tier-content-block{padding:1% 5% 5% 5%; overflow:hidden;}

.tier.main-promo{height:400px;}
/* .tier.main-promo .text-block{width:80%; float:right; margin:0% 15% 0 0} */
.tier.main-promo .text-block{width:90%; float:left; text-align: center; margin:3em 0 0 0; padding:0 5%;}
.tier.main-promo .text-block h1{font-size:3em; margin-bottom:0; line-height:1em; text-transform:uppercase; text-shadow: 1px 1px 3px #fff;}
.tier.main-promo .text-block p{margin:5px 0 15px 0; font-size:1.6em; text-shadow: 1px 1px 3px #fff;}
.tier.main-promo #brochure{float:left; margin:250px 0 0 15em;}

.tier.about{background: url(style/images/trans/blk-60.png) top left repeat;}
.tier.about .icon-pinecone-lrg-lt{background-position: 10px 20px;}
.tier.about .text-block{clear:left; margin:20px 0 0 55px;}
.tier.about .one-half{min-height:100px;color:#fff5db;}
.tier.about .sub-text{color:#71c2b3;font-weight:700;}
.tier.about h2{color:#fff5db;text-transform:uppercase;font-size:1.8em; line-height:1em; margin-left:60px;}

.tier.video{ background-image: url(style/images/bg/video-bg.jpg); color:#fff;  }
.tier.video .text-block{width:30%;  color:#fff5db; padding-left:5%;}
.tier.video .text-block h2{font-size:2em;}
.tier.video .image-block{float:right; width:40%; padding:0 10% 0 5%;}
.tier.video .test-video{height:350px; width:100%;}

.tier.stat{background-image: url(style/images/bg/stat-bg.jpg);}
.tier.map{background-image: url(style/images/map.jpg); width:100%; padding:3em 0 5em 0;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
}
.tier.map h2{text-align: center; font-size:3em;text-shadow:-1px -1px #754c24;color:#fff;}
.map-container iframe {width: 100%;display: block;pointer-events: none;position: relative;}
.map-container iframe.clicked {pointer-events: auto;}
.tier.tree{background-image: url(style/images/trees-tier.jpg); width:100%; padding:2em 0 3em 0;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           background-size: cover;
}
.tier.tree h2{text-align: center; font-size:3em;text-shadow:-1px -1px #754c24;color:#fff5db;}
.tier.about-image{background-image: url(style/images/bg/video-bg.jpg); width:100%; padding:2em 0 3em 0;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;
                  background-size: cover;
}
.tier.about-image h2{text-align: center; font-size:3em;text-shadow:-1px -1px #754c24;color:#fff5db;}

.tier.insurance{background-image: url(style/images/bg/insurance-bg.jpg);}
.tier.insurance .icon-insurance{padding-left:100px; width:35%; min-height:106px;}
.tier.insurance .icon-insurance p.sub-text{margin-bottom:0;line-height:1em;}
.tier.insurance .icon-insurance h2{font-size:2em; font-weight:300; margin:0; line-height:1em;}


.bgimage{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
}


/*------------------------------------*\
    ICONS
\*------------------------------------*/ 
.icon-pc-lrg-drk{background: url(style/images/icons/icon-pc-lrg-drk.png) 0 10px no-repeat;}
.icon-pinecone-lrg-lt{background: url(style/images/icons/icon-pinecone-lrg-lt-2.png) 0 10px no-repeat;}
.icon-insurance{background: url(style/images/icons/icon-insurance.png) 0 20px no-repeat;}
.icon-sm-phone{background: url(style/images/icons/icon-sm-phone-lt.png) 0 0 no-repeat;}
.icon-sm-email{background: url(style/images/icons/icon-sm-email-lt.png) 0 0 no-repeat;}
.icon-sm-users{background: url(style/images/icons/icon-sm-users-lt.png) 0 0 no-repeat;}
.icon-sm-location{background: url(style/images/icons/icon-sm-location-lt.png) 0 0 no-repeat;}
.icon-sm-google{background: url(style/images/icons/icon-sm-google-lt.png) 0 0 no-repeat;}
.icon-sm-twitter{background: url(style/images/icons/icon-sm-twitter-lt.png) 0 0 no-repeat;}
.icon-sm-facebook{background: url(style/images/icons/icon-sm-facebook-lt.png) 0 0 no-repeat;}
.icon-sm-linkedin{background: url(style/images/icons/logo-linkedin.png) 0 0 no-repeat;}


/*------------------------------------*\
    STATS
\*------------------------------------*/
.round-stat{background: url(style/images/round-stat.png) top right no-repeat; height:400px; background: cover;}
.stat-info{margin:20px 0 0 40px;}
.stat-item{float:left; clear:both; width:30%; margin:0 0 2em 0;}
.stat-item h2{float:left; line-height:1em; margin:0; font-family: 'Quattrocento Sans', Helvetica, Arial;}
.stat-item p{line-height: 1em; clear:both;}
.stat-big h2{font-size:4em; color:#754c24;}
.stat-medium h2{font-size:3.5em; }
.stat-small h2{font-size:2.5em; color:#c69c6d;}


/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/ 
.alignnone {margin:5px 20px 20px 0;}
.aligncenter,
div.aligncenter {display:block; margin:5px auto 5px auto;}
.alignright {float:right; margin:5px 0 20px 20px;}
.alignleft {float:left; margin:5px 20px 20px 0; width: 40%; height:auto;}
.aligncenter {display:block; margin:5px auto 5px auto;}
a img.alignright {float:right; margin:5px 0 20px 20px;}
a img.alignnone {margin:5px 20px 20px 0;}
a img.alignleft {float:left;margin:5px 20px 20px 0;}
a img.aligncenter {display:block; margin-left:auto;margin-right:auto;}
.wp-caption {background:#FFF; border:1px solid #F0F0F0; max-width:96%; padding:5px 3px 10px; text-align:center;}
.wp-caption.alignnone {margin:5px 20px 20px 0;}
.wp-caption.alignleft {margin:5px 20px 20px 0;}
.wp-caption.alignright {margin:5px 0 20px 20px;}
.wp-caption img {border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto;}
.wp-caption .wp-caption-text,
.gallery-caption {font-size:11px;line-height:17px;margin:0;padding:0 4px 5px;}
.sticky {}
.bypostauthor {}

.gallery {margin: auto;width:100%;}
.gallery-item {float: left;margin-top: 10px;text-align: center;width:20%;}
.gallery img {width:100%;}
.gallery-caption {margin-left: 0;}
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}


/*------------------------------------*\
    COMMENTS
\*------------------------------------*/
#comments{margin-top:5em;}
.comments-title{margin-bottom:1em;}
.comment-list {border-bottom: 1px solid #e5e5e5; list-style: none; margin: 0; padding: 0;}
.comment-list ol {list-style: none;}
.comment-list li {-webkit-border-radius: 4px; -moz-border-radius: 4px; background: url(style/images/trans/whi-90.png) top left repeat; border-radius: 4px; margin: 0;}
.comment-list .bypostauthor {}
.comment-list li cite {color:#71c2b3; font-size: 1.3em; line-height: 1em; font-style: normal; text-transform:uppercase;}
.comment-list li.alt {background: url(style/images/trans/whi-60.png) top left repeat;}
.comment-list .children {list-style: none; margin-left: 10px; padding: 10px;}
.comment-list .avatar {-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float: left; margin:0 10px 20px 0; padding: 0; vertical-align: middle;}
.comment-author .fn {line-height: 1em; margin:0; padding:0;}
.comment-author .says {color: #999999; line-height: 1em;}
.comment-body .comment-meta {color: #999999; display: inline-block; margin: 0; padding: 0; text-align: left; line-height: 1em; font-size:.8em;}
.comment-body .comment-meta a {}
.comment-body {clear: both; padding: 2em;}
.comment-body p {clear: both;}
.comment-body .reply {}
.pingback, .trackback {list-style: none; margin: 20px 0;}
.pingback cite,
.trackback cite {font-style: normal;}
#pings,
#comments {text-align: left;}




/*------------------------------------*\
    ASIDE/WIDGETS
\*------------------------------------*/
aside{overflow:hidden; padding:.5em 2em; background: url(style/images/trans/whi-80.png) top left repeat;}


/* widget */
.widget {overflow:hidden; margin-bottom:2em;}

/* links widget */
.widget_links {}
.widget_links ul {}
.widget_links ul li {}
.widget_links ul li a {}

/* categories widget */
.widget_categories ul {padding:0;}
.widget_categories li{ margin-bottom:1px; padding:0; width:100%;}
.widget_categories li a{display:block; padding:1em;color:#fff; background: #754c24 url(style/images/icons/icon-pinecone-sm.png) 10px 15px no-repeat; text-shadow:-1px -1px #555; padding-left:40px; font-weight:300; text-transform:uppercase;}
.widget_categories li a:hover{background-color: #603913;} 
.widget_categories li.current_page_item a, 
.widget_categories li.current_page_parent a{background-color: #603913;}

/* meta widget */
.widget_meta {}
.widget_meta ul {}
.widget_meta ul li {}
.widget_meta ul li a {}

/* recent-posts widget */
.widget_recent_entries {}
.widget_recent_entries ul {}
.widget_recent_entries ul li {}
.widget_recent_entries ul li a {}

/* calendar widget */
.widget_calendar {}
#calendar_wrap {}
#calendar_wrap th {}
#calendar_wrap td {}
#wp-calendar tr td {}
#wp-calendar caption {}
#wp-calendar a {}
#wp-calendar #today {}
#wp-calendar #prev {}
#wp-calendar #next {}
#wp-calendar #next a {}
#wp-calendar #prev a {}


/* recent-comments widget */
.recentcomments {}
#recentcomments {}
#recentcomments li {}
#recentcomments li a {}
.widget_recent_comments {}

/* search widget */
#searchform {}
.widget_search {}
.screen-reader-text {}

/* text widget */
.textwidget {}
.widget_text {}
.textwidget p {}


/* menu */
aside ul.menu {padding:0;}
aside .menu li{ margin-bottom:1px; padding:0; width:100%;}
aside .menu li a{display:block; padding:1em;color:#fff; background: #754c24 url(style/images/icons/icon-pinecone-sm.png) 10px 15px no-repeat; text-shadow:-1px -1px #555; padding-left:40px; font-weight:300; text-transform:uppercase;}
aside .menu li a:hover{background-color: #603913;} 
aside .menu li.current_page_item a, 
aside .menu li.current_page_parent a{background-color: #603913;}
aside img{width:100%;}




/* Contact */
.contact-btn{float:left; margin:.5em;}


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1024px) {   
    body {background: url(style/images/bg/main-bg-1024.jpg) no-repeat top left fixed;}
    .tier.main-promo{height:250px;}
    .tier.main-promo .text-block{width:90%; float:left; text-align: center; margin:4em 0 0 0; padding:0 5%;}
    .tier.about{background:url(style/images/bg/main-bg-1024.jpg) top left repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
    .tier.video{background:url(style/images/bg/video-bg-med.jpg) top left no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
    .tier.stat{background:url(style/images/bg/stat-bg-med.jpg) top left no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
    .tier.insurance{background:url(style/images/bg/insurance-bg-med.jpg) top left no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
    .bgimage{background-attachment:inherit;background-position:top left;background-repeat:no-repeat;position:inherit}
    /*Medium Size Columns*/
    .one-half{ width:46%; }
    .one-third, .one-fourth, .one-fifth, .one-sixth{ width:28.66%;}
    .three-fourth, .two-third{ width:63.33%; }
    .four-fifth, .three-fifth, .two-fifth, .five-sixth{ width:100%; }
}
@media only screen and (max-width: 1220px) {
    #nav ul li a,ul li ul.sub-menu li a{text-transform:uppercase;color:#754c24;font-weight:700;padding:0 1em;font-size:.9em;line-height:1em}
    /* a img{width:100%;} */
}

@media only screen and (max-width: 1110px) {
    /*Link Appearance*/
    #nav ul li a, ul li ul.sub-menu li a {padding:0 .6em;}
    
}

@media only screen and (min-width: 1024px) {
    #mobile-header {display: none;}
    .logo{text-align:center;}
    .main section.left-content {float: left; width: 70%;}
    .main article {float: left; width: 100%;}
    .main article.blog {float: left; width: 100%;}
    .main #left-content-block {float: left; width: 50%;}
    .main aside {float:right; width: 20%;}
    .info-box-green .text-block .large-text, .info-box-brown .text-block .large-text{font-size:2.4em; padding-bottom:1em;}
}

@media only screen and (max-width: 1024px) {
    #mobile-header {display: block; width: 70px;float:left;}
    #nav{display:none;}
    .logo{width:180px; float:left;  margin:10% 0 0 34%;}
    #top-nav li.top-nav-item{display:none;}
    .bgimage{background-attachment:inherit;background-position:top left;background-repeat:no-repeat;position:inherit}
    .inner-page{background: #fff5db; padding-top: 5px;}
    .tier.main-promo{height:400px;}
    .tier.main-promo #brochure{clear:both;  margin-left:20px; margin-top:20px;}
    .tier.about{background: url(style/images/bg/main-bg-1024-drk.jpg) center bottom repeat;}
    .tier.main-promo .text-block{width:90%; float:left; text-align: center; margin:0; padding:0 5%;}
    .tier.video{background: url(style/images/bg/video-bg-med.jpg) top left no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
    }
    .tier.video .text-block{width:90%;  color:#fff5db; padding:0 5%; margin-bottom:4em;}
    .tier.video .image-block{float:left; width:90%; padding:0 5% 0 5%; margin-bottom:4em;}
    .tier.stat{background: url(style/images/bg/stat-bg-med.jpg) top left no-repeat;
               -webkit-background-size: cover;
               -moz-background-size: cover;
               -o-background-size: cover;
               background-size: cover;
    }
    .tier.stat .one-half{width:100%; margin-bottom:1em;}
    .round-stat{background: url(style/images/round-stat.png) 70% 0 no-repeat; height:400px; background: cover;}
    .stat-info{margin:20px 0 0 2em;}
    .tier.insurance{background:url(style/images/bg/insurance-bg-med.jpg) top left no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
    .tier.insurance .one-half{width:90%; margin-bottom:5em;}
    .footer-center{width:100%; order: 1;}
    .footer-side-left{width:50%; order: 2;}
    .footer-side-right{width:50%; order: 3;}
    #bottom-bar-left{float:left; width:65%;}
    #bottom-bar-left a{color:#fff;}
    #bottom-bar-left h2{font-size:1.1em;}
    #page-id{margin-top:2em; margin-bottom: 5px; }
    #page-id .tier-content-block{padding:4% 5% 3% 5%; overflow:hidden;}
    #page-id .text-block, #page-id .text-block.page-message{float:left; width:90%; clear:both;}
    /*//___Removed padding for bullet items within Box - 02/25/2015 (HC)___\\*/
    .box > ul{padding-left: 0;}
    .info-box-green .text-block .large-text, .info-box-brown .text-block .large-text{font-size:2em; padding-bottom:1em; text-align:center;}
    .info-box-green{padding-left: 0; padding-bottom: 200px; background-position: center bottom;width: 100%;}
    .info-box-green .text-block{float: none; margin:  0 auto;}
    .icon-insurance{background-position: top center;}
    .tier.insurance .one-half{width:100%;text-align:center; margin-bottom:1em;}
    .tier.insurance .icon-insurance{padding-left:0px; width: 90%;}
    .tier.insurance .icon-insurance p.sub-text{margin:100px 0 0 0;line-height:1em;}
    .tier.insurance .icon-insurance h2{font-size:1.8em;}
    aside{margin-top:2em; }
    .footer-container{background: url(style/images/bg/main-bg-1024-drk.jpg) center top no-repeat #1d200f;background-size: cover;}
    .arrow-block{width:80px; height:140px;}
    .pc-block{width:150px; height:150px;}
    .person-block{width:50px; height:100px;}
    .circle { width:170px; height:170px;}
    .circle-content{left:10px;top:0;width:150px;height:170px}
    
}

@media only screen and (max-width: 840px) {
    .tier.main-promo{height:400px;}
    .tier.main-promo .text-block{width:90%; float:left; text-align: center; margin:3em 0 0 0; padding:0 5%;}
    .tier.main-promo #brochure{float:left; margin-left:5%; margin-top:20px;}
    .logo{width:120px; float:left;  margin:10% 0 0 34%;}
    .info-box-green .text-block, .info-box-brown .text-block{ height:88%; width:90%; color:#fff; padding:1%; float:left;}
    .info-box-brown, .info-box-green{ width:90%; background-position: center bottom; padding-bottom:200px; padding-left:1em;}
    .info-box-green .text-block .large-text, .info-box-brown .text-block .large-text{font-size:2.4em; padding-bottom:1em; text-align:center;}
    .one-half .one-half{width:100%;}
    aside img{width:50%; margin-left:25%;}
    .footer-container .sl_inner {padding:0 24px;}
    #bottom-bar{ width:100%; background:#71c2b3; position:fixed; bottom:0;}
    #bottom-bar-left{float:left; width:100%;}
    #bottom-bar-right{display: none;}
    
    
}

@media only screen and (max-width: 640px) {
    body{background: url(style/images/bg/main-bg-land.jpg) 0 0 no-repeat;}
    .logo{width: 100%;float: none;margin: 10% 0 0% 0;text-align: center;}
    .logo img {width: 120px;margin: 0;}
    #top-nav li.top-nav-item{display:none;}
    .tier.main-promo{height:400px;}
    .tier.main-promo #brochure{clear:both;  margin-left:20px; margin-top:30px;}
    .tier.main-promo .text-block{width:90%; float:left; text-align: center; margin:3em 0 0 0; padding:0 5%;}
    .tier.main-promo .text-block h1{font-size:2em;}
    .tier.stat .one-half{width:100%; margin-bottom:5em;}
    .one-half{width:100%; margin-bottom:5em;}
    .tier.stat .tier-content-block{padding:0;}
    .tier.stat .text-block{padding:2em;}
    .tier.about .one-half{width:100%; margin-bottom:0em;}
    .round-stat{background: url(style/images/round-stat.png) bottom center no-repeat; height:800px; background: cover;}
    .stat-info{margin:20px 0 0 40px; }
    .stat-item{ width:90%; margin:0 0 2em 0; text-align: center;}
    .stat-item h2{text-align: center; line-height:1em; margin:0; float:none;}
    .icon-insurance{background-position: top center;}
    .tier.insurance .one-half{width:90%;text-align:center;}
    .tier.insurance .icon-insurance{padding-left:0px; width: 90%;}
    .tier.insurance .icon-insurance p.sub-text{margin:100px 0 0 0;line-height:1em;}
    .tier.insurance .icon-insurance h2{font-size:1.8em;}
    .footer-side-left{width:90%; position:inherit; float:left;}
    .footer-side-right{width:90%;  position:inherit; float:left;}
    .btn-brown:before {top: 12px; width:80px; line-height: 3;}
    .btn-green:before {top: 12px; width:80px; line-height: 3;}
    aside a img{margin:0 auto;}
    #bottom-bar{display: none;}
    #bottom-bar-left{float:left; width:100%;}
    #bottom-bar-right{display: none;}
    .cycle-slideshow { width:100%; padding: 0; }
    #bottom-bar-left .cycle-slideshow > div { margin: 0 auto; text-align:center; padding-left:0;}
    
    .toc{float:left; padding:0 20px 20px 20px; margin:4px 25px 30px 0; width:85%;}
    .toc a{font-size:16px !important;}
    .content-tabs ul.tab-menu li{width:90%;}
    .content-tabs ul.tab-menu li a{width:90%; margin-bottom:5px;}
    .content-tabs .tab-content-wrapper{padding:10px;}
    .content-tabs .tab-content-wrapper ul{padding:0;}
    .content-tabs .tab-content-wrapper .one-half{margin-bottom:0;}
    .page-message{margin:2em 0;padding-left:1em; font-size:1.5em;}
    .left-content .one-half{margin-bottom:0; padding-bottom:0;}
    .contact-tier .one-half{margin-bottom:0em;}
    .contact-tier .one-half .contact-form h2{margin:0; padding:0;}
    .contact-tier .one-half .contact-form{margin-bottom:3em; width:80%;}
    .contact-tier .one-half .one-half{margin-bottom:1em;}
    .btn-brown:before {top: 2px; width:80px; line-height: 3;}
    .btn-green:before {top: 2px; width:80px; line-height: 3;}
    .tier.stat .one-half{width:100%; margin-bottom:0em;}
    .tier.stat .round-stat{margin-bottom:5em;}
    .tier.insurance{padding:3em 0;}
    .tier.insurance .one-half{margin-bottom:0em; width:100%;}
    .tier.map{display:none;}
    .arrow-block{width:70px; height:130px;}
    .pc-block{width:80px; height:80px;}
    .person-block{width:50px; height:100px;}
    .info-box-brown {background-image: none;width: 100%;padding: 0;}
    .info-box-brown .text-block {float: none;margin: 0 auto;text-align:center;}
    .contact-btn {float: none;width: 100%;display: block;height: 120px;overflow: hidden;margin: 5px auto;text-align: center;}
    .contact-btn img {margin-top: -20px;width: 100%;}
    /*//___Small Columns___\\*/
    .one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth, .three-fifth, .four-fifth, .one-sixth, .five-sixth{clear:both; width:100%;}
    img.alignright,img.alignleft{display:block;float:none;margin:0 auto 15px auto; width:auto;}
}

@media only screen and (max-width: 380px) {
    body{background: url(style/images/bg/main-bg-port.jpg) 0 0 no-repeat;
         background-attachment: fixed; background-position-y:-180px;
    }
    body.home{background-position-y:0px;}
    .tier.main-promo{height:430px;}
    .tier.main-promo #brochure{clear:both;  margin-left:28px; margin-top:20px;}
    .logo{width: 100%;float: none;margin: 20% 0 0 0;}
    #wpadminbar{display:none;}
    
    #bottom-bar-left{float:left; width:100%;}
    #bottom-bar-right{display: none;}
    .cycle-slideshow { width:100%; padding: 0; }
    #bottom-bar-left h2{font-size:1em;}
    #bottom-bar-left h2.phone-text{font-size:2.2em;}
    #bottom-bar-left p{font-size:.8em;}
    #bottom-bar-left .cycle-slideshow > div { margin: 0 auto; text-align:left; padding-left:60px;}
    
    .footer-side-right{margin-bottom:3em;margin-left:20%;}
    aside a img{width:100%;}
    .content-tabs ul.tab-menu li{width:90%;}
    .content-tabs ul.tab-menu li a{width:90%; margin-bottom:5px;}
    .left-content img{width:100%; margin-bottom: 15px;}
    .one-third, .two-third{clear:both; width:100%;}
    article.blog h2{font-size:1.5em;}
    .box h3 {margin: 0 0 .5em 0;}
    .box ul{padding:0;margin:0;}
    .tier.about .text-block{clear:left; margin:20px 0 0 0px;}
    .btn{width:100%;}
    .one-third .circle, .one-third .circle.green{margin:0 0 0 40px;}
    .circle {width:200px; height:200px;}
    .circle-content { left: 0; top: 0; width: 200px; height: 200px; }
    #page-id .text-block.icon-pinecone-lrg-lt{padding-left:0px; background:none;}
    #page-id .text-block h1{line-height:1em; font-size:1.5em;}
}	






/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px;}

.ir:before {content: "";display: block;width: 0;height: 150%;}

.hidden {display: none !important;visibility: hidden;}

.visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}

.invisible {visibility: hidden;}

.clearfix:before,
.clearfix:after {content: " "; display: table;}

.clearfix:after {clear: both;}

.clearfix {*zoom: 1; position:relative;}





/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    
    a,
    a:visited {
        text-decoration: underline;
    }
    
    a[href]:after {
        content: " (" attr(href) ")";
    }
    
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    
    /*
     * Don't show links for images, or javascript/internal links
     */
    
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    
    tr,
    img {
        page-break-inside: avoid;
    }
    
    img {
        max-width: 100% !important;
    }
    
    @page {
        margin: 0.5cm;
    }
    
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    
    h2,
    h3 {
        page-break-after: avoid;
    }
}

a#bbblink.sehzbas, a#bbblink.rbhzbas, a#bbblink.sehzbus, a#bbblink.rbhzbus {
    margin: 0 auto !important;
}



/* ==========================================================================
   Responsive iframes CSS -- Benefits SoberGuy Podcast players mostly
   Requires two transparent images (one for audio, and one for video) to get the height/width ratio.
   Search content in admin by CSS name below to find posts with iframe embedded.
   ========================================================================== */

.frn_iframe_wrap {
    width: 100%;
    background-color:#ccc;
    height: auto;
    margin-left: 0;
}
.frn_iframe_block {position:relative; height: 90px; margin: 15px 0 20px 0; border: 1px solid #ccc; box-shadow: #ccc 0px 1px 10px;}
.frn_iframe_block .ratio {display:block;width:100%;height:auto; position: relative; }
.frn_iframe_block iframe {position:absolute;top:0;left:0;width:100%; height:100%; z-index: 1000;}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* tablet */
  .frn_iframe_wrap {
      width: 100%;
      height: auto;
      background: #CCC;
  }
}
@media only screen and (max-device-width:767px){
  /* smartphone */
  .frn_iframe_wrap {width:100%;height:auto;margin:0 auto;background:#CCC;
  }
}

/* content banners */
.content_banner {
    overflow: hidden;
    height: 250px;
}
.content_banner img {
    margin-top: -20%;
	width: 100%;
	height: auto;
}
@media only screen and (max-device-width:767px){
	.content_banner {
		height: 150px;
	}
	.content_banner img {
		margin-top: 0;
	}
}


/*******---------Custom changes by Jonny 4-3-18 -------------*******/
#mobile_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(54,55,61,0.6);
	overflow: scroll;
	width: 100vw;
	visibility: hidden;
	opacity: 0;
	z-index: 99999;
	padding:  15px;
	transition: opacity ease .2s;
	height: 0;
	box-sizing: border-box;
}

@media screen and (max-width: 767px) {
	#mobile_overlay.visible {
		visibility:visible;
		opacity: 1;
		transition: opacity ease .2s;
		height: 100vh;
	}	
}
	


#mobile_overlay #mobileCTA {
	position: relative;
	margin:  auto;
	padding: 45px 32px 45px 32px;
	border-radius: 20px;
	background: #FFFEFC;
	color: #676767;
	top:  15vh;
	max-width: 550px;
	
	
}
#mobile_overlay #mobileCTA h3 {
	color: #4E7A72;
	font-weight: 700;
	text-align: center;
	font-size: 22px;
	font-family: 'Quattrocento Sans', sans-serif;
	margin-bottom: 24px;
}
#mobile_overlay #mobileCTA div.phone-cta {
	font-size: 32px;
	margin: 0;
	color: #fff;
	background: #E58242;
	font-weight: bold;
	border-radius: 10px;
	border: 4px solid #E57842;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	font-family: 'Quattrocento Sans', sans-serif;
	padding: 0;
	line-height: 1;
}

#mobile_overlay #mobileCTA div.phone-cta a {color: #fff !important; display: block; text-align: center; padding: 15px;}
#mobile_overlay #mobileCTA p {font-family: 'Quattrocento Sans', sans-serif; text-align: center; padding-bottom: 0; margin-bottom: 0; color: #333333; font-size: 16px; line-height: 24px; margin-top: 24px;}


#mobile_overlay #close_btn {
	position: absolute;
	top: -9px;
	right: 0;
	height:  40px;
	width: 35px;
	padding:  10px;
	background: #FFFEFC;
	font-size: 35px;
    line-height: 1;
	text-align:  center;
	box-shadow: 0 0px 10px rgba(0,0,0,0.25);
	border-radius: 5px;
}

/* FRN Plugin Styles */
.frn_toc {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 0;
	font-size: 1em;
	margin: 0 15px 20px 0;
	max-width: 50%;
	float: left;
}
.frn_toc_right {
	float: right;
	margin: 0 0 20px 15px;
}
.frn_toc_inner {
	margin: .8em 1em .3em 1em;
	padding: .3em .1em .3em .1em !important;
}
.frn_toc h1, .frn_toc h2, .frn_toc h3 {
	font-size: 1.3em;
	margin: 0 0 5px 0;
	padding: 0;
}
.frn_toc ul {
	padding: 0;
	margin:0;
	line-height: 1.2em;
}
.frn_toc .frn_toc_inner ul li {
	list-style:none;
	margin: .5em 0 .7em 0;
}
a[name].frn_toc_anchor:before {
	content: "";
	display: block;
	height: 60px;
	margin: -60px 0 0 0;
}
@media (max-width: 640px) {
	.frn_toc {
		border: 1px solid #ccc;
		border-radius: 10px;
		padding: 0;
		font-size: 1em;
		margin: 0 0 20px 0;
		max-width: 100%;
		width: 100%;
		float: none;
	}
	.frn_toc_right {
		margin: 0 0 20px 0;
		float: none;
	}
	.frn_toc .frn_toc_inner {
		margin: 8px 10px;
	}
	.frn_toc ul {
		margin: 15px 0;
	}
	.frn_toc .frn_toc_inner ul li {
		padding: 0 5px 5px 30px;
	}
	.frn_toc .frn_toc_inner ul li:active {
		background: #eee;
		padding: 5px 5px;
		border-radius: 5px;
	}
}


.frn_related_posts {
	margin: 40px 0 60px 0;
	width: 100%;
	float: left;
	border-bottom:1px solid #ccc;
	padding: 0 0 60px 0;
}
.frn_related_posts ul {
	margin: 0;
	padding: .5em .5em 0 1.1em;
	list-style: disc;
}
.frn_related_posts li {
	margin-bottom: .8em;
	padding: 0 5px 5px 30px;
}
.frn_related_posts h2 {
	padding: 0;
	margin: 0;
}
.frn_clear {
	clear:both;
}
@media (max-width: 1023px) {
	.frn_related_posts {
		float: none;
		max-width:100%;
		width:inherit;
	}
	.frn_related_posts h2 {
		padding: 0 0 5px 0;
		margin: 0;
	}
	.frn_related_posts ul {
		padding: 0;
		list-style: none;
	}
	.frn_related_posts li {
		margin: 10px 0;
	}
	.frn_related_posts li:active {
		background-color: #efefef;
	}
}

.post-template-default .tier-content-block,
.page-template-default .tier-content-block,
.page-template-template-frn-formatting .tier-content-block{
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 3rem;
}

/*-----------------
SHORTCODES
-------------------*/

/* Typography */
.post-template-default .tier-content-block p, .page-template-default .tier-content-block p, .page-template-template-frn-formatting .tier-content-block p {
    color: #603913;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.tier-content-block section h6, .tier-content-block section h1, .tier-content-block section h2, .tier-content-block section h3, .tier-content-block section h4, .tier-content-block section h5, .tier-content-block section h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.25;
}

.tier-content-block section h1 {
    color: #603913;
    font-size: 3rem;
}

.tier-content-block section h2 {
    color: #603913;
    font-size: 2rem;
}

.tier-content-block section h3 {
    color: #0D454B;
    font-size: 1.75rem;
}

.tier-content-block section h4 {
    color: #0D454B;
    font-size: 1.25rem;
}

.tier-content-block section h5 {
    color: #0D454B;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 400;
}

.tier-content-block section h6 {
    color: #0D454B;
    font-size: 1.125rem;
}

/* Divider */
.tier-content-block section .divider {
    background-color: #69C2B3;
    height: 2px;
    width: 100%;
    margin: 2rem auto;
}

/* Blockquotes */
.tier-content-block section blockquote {
    padding: 0 0 0 30px;
    border-left: 5px solid #69C2B3;
    color: #603913;
    margin-bottom: 30px;
    font-size: 1.125rem;
}

.tier-content-block section blockquote.secondary {
    padding: 0;
    border: none;
}


.tier-content-block section blockquote cite {
    font-size: 1.25rem;
    color: #0D454B;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    padding-top: 15px;
    display: block;
}

.tier-content-block section blockquote cite:before {
    display: inline-block;
    content:'-';
    margin-right: .5rem;
}

/* Lists */
.tier-content-block section ul:not(.tab-menu) {
    list-style: none;
    margin-left: 1.5rem;
}

.tier-content-block section ul:not(.tab-menu) li {
    margin-bottom: 1rem;
    background: none;
    padding-left: 1rem;
    font-weight: 400;
}

.tier-content-block section ul:not(.tab-menu) li:before {
    content: '';
    background-color: #0D454B;
    border-radius: 50%;
    display: inline-block;
    margin-left: -1.5rem;
    margin-right: 1rem;
    width: .5rem;
    height: .5rem;
    font-size: 1.5rem;
}

.tier-content-block section ul.secondary:not(.tab-menu) li:before {
    background-color: #69C2B3;
}

.tier-content-block section ul.disc:not(.tab-menu) li:before {
    background-color: transparent;
    border: 2px solid #69C2B3;
    width: 1rem;
    height: 1rem;
    margin-left: -2rem;
    margin-bottom: -3px;
}

.tier-content-block section ul.page-numbers {
    margin-left: 40% ;
}

.tier-content-block section ul.page-numbers li {
    margin-bottom: 0;
    background-color: #a67c52;
    padding-left: 0;
    font-weight: 700;
}

.tier-content-block section ul.page-numbers li:before {
    display: none;
}

/* Callouts */
.sl_callout {
    border: none;
    background-color: #409D8E;
    padding: 30px;
    margin-bottom: 1.5rem;
    clear: both;
    overflow: auto;
}

.sl_callout.secondary {
    background-color: #DBCFB1;
}

.sl_callout.dark {
    background-color: #603913;
}

.sl_callout.border {
    background-color: #FFF5DD;
    border: 2px solid #603913;
}

.tier-content-block section .callout > * {
    color: #FFF5DD;
}

.tier-content-block section .callout a {
    color: #FFF5DD;
    text-decoration: underline;
}

.tier-content-block section .callout.secondary a, .tier-content-block section .callout.border a{
    color: #409D8E;
}

.tier-content-block section .callout.secondary > *, .tier-content-block section .callout.border > * {
    color: #603913;
}

.tier-content-block section .callout > :last-child {
    margin-bottom: 0;
}

.tier-content-block section .callout.no-box-large, .tier-content-block section .callout.no-box {
    border: none;
    background: none;
    color: #0D454B;
    padding: 30px;
    font-size: 1.375rem;
    line-height: 30px;
    font-style: italic;
}

.tier-content-block section .callout.no-box-large > *, .tier-content-block section .callout.no-box > * {
    color: #0D454B !important;
}

.tier-content-block section .callout.no-box-large a, .tier-content-block section .callout.no-box a {
    color: #0D454B;
}

.tier-content-block section .callout.no-box {
    font-size: 1.125rem;
}

/*Callout Cards*/
.callout-card {
    background-color: #409D8E;
    margin-bottom: 1.5rem;
}

.callout-card.dark {
    background-color: #603913;
}

.callout-card.border {
    background-color: #FFF5DD;
    border: 2px solid #603913;
}

.callout-card .card-media {
    height: 225px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.callout-card .card-content {
    padding: 30px;
}

.tier-content-block section .callout-card .card-content > * {
    color: #FFF5DD;
}

.tier-content-block section .callout-card.secondary .card-content > *, .tier-content-block section .callout-card.border .card-content > * {
    color: #603913;
}

.tier-content-block section .callout-card .card-content > :last-child {
    margin-bottom: 0;
}

/* Buttons */

.sl_button {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #FFF5DD;
    padding: 1rem 1.5rem;
    background-color: #409D8E;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 1rem;
}

.sl_button:hover {
    background-color: #307d71;
    color: #FFF5DD;
}

.sl_button.secondary {
    background-color: #0D454B;
}

.sl_button.secondary:hover {
    background-color: #092f33;
}

.sl_button.dark {
    background-color: #603913;
}

.sl_button.dark:hover {
    background-color: #46290c;
}

.sl_button.border {
    color: #603913;
    background-color: #FFF5DD;
    outline: 2px solid #603913;
    outline-offset: -2px;
}

.sl_button.border:hover {
    background-color: #603913;
    color: #FFF5DD;
}

/* Tabs */
.tier-content-block section .sl_content-tabs .menu-wrapper {
    margin: 0;
    padding: 0;
    float: none;
    width: 100%;
    border: none;
    background: none;
    border-radius: 0;
}

.tier-content-block section .sl_content-tabs .menu-wrapper .tab-menu {
    margin: 0;
    background: none;
    padding: 0;
    display: table-cell;
    border: 2px solid #0D454B;
    border-bottom: 0;
    box-sizing: border-box;
    width: auto;
}

.tier-content-block section .sl_content-tabs.secondary .menu-wrapper .tab-menu {
    border: none;
}

.tier-content-block section .sl_content-tabs:not(.secondary) .menu-wrapper .tab-menu li:not(:first-of-type) {
    border-left: 2px solid #0D454B;
    border-top: 0;
    border-bottom: 0;
}

.tier-content-block section .sl_content-tabs .menu-wrapper .tab-menu li {
    margin: 0;
    background-color: #FFF5DD;
}

.tier-content-block section .sl_content-tabs.secondary .menu-wrapper .tab-menu li {
    background-color: #409D8E;
    position: relative;
}

.tier-content-block section .sl_content-tabs .menu-wrapper .tab-menu li > a {
    background: none;
    border-radius: 0;
    text-transform: none;
    color: #0D454B;
    font-weight: 700;
    font-size: 1.25rem;
    font-family: 'Quattrocento Sans', Helvetica, Arial;
}

.tier-content-block section .sl_content-tabs.secondary .menu-wrapper .tab-menu li > a {
    color: #FFF5DD;
    font-weight: 400;
}

.tier-content-block section .sl_content-tabs .menu-wrapper .tab-menu li > a.current {
    background: #409D8E;
    color: #FFF5DD;
}

.tier-content-block section .sl_content-tabs.secondary .menu-wrapper .tab-menu li > a.current {
    font-weight: 700;
}

.tier-content-block section .sl_content-tabs.secondary .menu-wrapper .tab-menu li > a:after  {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background-color: #69C2B3;
    height: 0px;
    width: 100%;
    transition: .2s all ease-in-out;
}

.tier-content-block section .sl_content-tabs.secondary .menu-wrapper .tab-menu li > a.current:after  {
    height: 5px;
    transition: .2s all ease-in-out;
}

.tier-content-block section .sl_content-tabs .tab-content-wrapper {
    border: 2px solid #0D454B;
}

.tier-content-block section .sl_content-tabs.secondary .tab-content-wrapper {
    border: none;
    background-color: #0D454B;
    padding: 30px;
}

.tier-content-block section .sl_content-tabs .tab-content-wrapper .dynamic > * {
    color: #0D454B;
}

.tier-content-block section .sl_content-tabs.secondary .tab-content-wrapper .dynamic > * {
    color: #FFF5DD;
}

@media screen and (max-width: 640px) {
.tier-content-block section .sl_content-tabs {
    display: block;
  }

.tier-content-block section .sl_content-tabs .menu-wrapper .tab-menu li {
    width: 100%;
    border-top: 2px solid #0D454B;
    border-bottom: 2px solid #0D454B;
    border-left: 0 !important;
    border-right: 0 !important;
  }

.tier-content-block section .sl_content-tabs.secondary .menu-wrapper .tab-menu li > a.current:after {
    display: none;
  }

.tier-content-block section .sl_content-tabs.secondary .menu-wrapper .tab-menu li > a.current {
    background-color: #627C37;
  }
}

/* Accordion */
.tier-content-block section .sl_accordion{
    border: 2px solid #0D454B;
    margin-bottom: 30px;
    padding: 0;
    border-radius: 0;
    background:none;
}

.tier-content-block section .sl_accordion.secondary{
    border: 2px solid #FFF5DD;
}

.tier-content-block section .sl_accordion h3{
    margin-bottom: 0;
    background: #FFF5DD;
    color: #0D454B;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 30px;
}

.tier-content-block section .sl_accordion.secondary h3{
    background: #603913;
    color: #FFF5DD;
}

.tier-content-block section .sl_accordion h3:not(:last-of-type){
    border-bottom: 2px solid #0D454B;
}

.tier-content-block section .sl_accordion.secondary h3:not(:last-of-type){
    border-bottom: 2px solid #FFF5DD;
}

.tier-content-block section .sl_accordion h3.active{
    background: #69C2B3;
    border: none;
}

.tier-content-block section .sl_accordion.secondary h3.active{
    background: #8C6239;
    border: none;
}

.tier-content-block section .sl_accordion div{
    background: #69C2B3;
    border-bottom: 2px solid #0D454B;
    padding: 0px 30px 30px 30px;
}

.tier-content-block section .sl_accordion.secondary div{
    background: #8C6239;
    border-bottom: 2px solid #FFF5DD;
}

.tier-content-block section .sl_accordion div > *{
    color: #0D454B;
}

.tier-content-block section .sl_accordion.secondary div > *{
    color: #FFF5DD;
}

/* READ NEXT SHORTCODE */
.sl_read-next {
    padding: 16px;
    border: 2px solid #0D454B;
    background-color: #FFF5DD;
    border-radius: 5px;
    margin-bottom: 24px;
    font-weight: 600;
}

.sl_read-next.large {
    font-size: 22px;
    padding: 20px;
    background-color: #69C2B3;
    color: #FFF5DD;
    border: none;
}

.sl_read-next span {
    font-weight: 600;
    text-transform: uppercase;
}

.sl_read-next a {
    font-weight: 600;
    text-decoration: underline;
    color: #0D454B;
}

.sl_read-next a:hover {
    text-decoration: underline;
    color: #409D8E;
}

/*-----------------
END SHORTCODES
-------------------*/

/*-------------------
FULL POST TEMPLATE
--------------------*/
.post-template-template-full-post .tier-content-block {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;
    overflow: visible;
    box-sizing: border-box;
}

.post-template-template-full-post img.wp-post-image {
    max-width: 450px;
    width: 100%;
    height: auto;
    float: left;
    padding-right: 24px;
    padding-bottom: 16px;
}

@media only screen and (max-width:850px){
    .post-template-template-full-post img.wp-post-image {
        max-width: 100%;
        float: none;
        padding-right: 0;
    }
}

.post-template-template-full-post .inner-page .tier-content-block section.full-content{
    box-sizing: border-box;
}

.post-template-template-full-post section.full-content > article {
    float: none;
    background-color: rgba(255,255,255,.5);
    padding: 32px;
    box-shadow: 0px 2px 10px  rgba(0,0,0,.15);
    box-sizing: border-box;
}

@media only screen and (max-width:550px){
    .post-template-template-full-post section.full-content > article {
        padding: 24px;
    }
}

.module.email {
    margin-bottom: 1.5rem;
}

.module.email .email__card {
    background-color: #409D8E;
    padding: 1.5rem 1.5rem 2rem;
}

.module.email .email__card h3 {
    color: #FFF5DD;
    text-align: center;
    margin-bottom: 1.25rem;
}

.module.email .form {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.module.email .form .form__input {
    display: block;
    box-sizing: border-box;
    margin: 0 0 1rem;
    padding: .5rem 1rem;
    border-radius: 0;
    margin-right: 1rem;
    width: auto;
    flex: 1 1 auto;
    border: none;
    margin-bottom: 0;
    height: 50px;
}

.module.email .form .button {
    margin-bottom: 0;
    border: none;
}

@media only screen and (max-width:550px){
    .module.email .form {
        flex-direction: column;
    }

    .module.email .form > * {
        width: 100%;
    }

    .module.email .form .form__input {
        width: 100%;
        margin: 0 0 1rem 0;
    }
}

.responsive-embed {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*----------------
Email Form
------------------*/
.sl_footer__email {
    background-color: #71C1B3;
    padding: 3rem 0;
    position: relative;
}

.sl_footer__email div, .sl_footer__email {
    box-sizing: border-box;
}

.sl_footer__email:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(./style/images/blackbear-pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    z-index: 0;
    opacity: .5;
}

.sl_footer__email .sl_inner {
    width: 100%;
    max-width: 1296px;
    padding: 0 3rem;
    margin: 0 auto;
    position: relative;
}

.sl_card--email {
    padding: 32px;
    max-width: 750px;
    margin: 0 auto;
    background-color: #ffffff;
    border-top: 5px solid #754C24;
    box-shadow: 0px 9px 18px 0 rgba(0,0,0,.15);
    margin-bottom: 24px;
}

.sl_footer__email .sl_card--email {
    margin-bottom: 0;
}

.sl_card--email h3 {
    font-weight: 600;
    font-family: 'Quattrocento Sans', Helvetica, Arial;
    color: #603913;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.sl_form--email {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0 5px;
}

.sl_form__multiselect {
    width: 200px;
    max-width: 40%;
    position: relative;
    -webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
}

.sl_form__input, .sl_form__multiselect__field {
    position: relative;
    background-color: #FFFFFF;
    padding: 10px 16px;
    border: 1px solid #CACACA;
    font-size: 16px;
    font-family: 'Quattrocento Sans', Helvetica, Arial;
    margin: 0 5px;
    height: 46px;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 0;
    box-sizing: border-box;
}

.sl_form__multiselect__field {
    color: #ABABAB;
    scrollbar-width: none;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    line-height: 1.5;
}

.sl_form__multiselect__field::-webkit-scrollbar {
  background: none;
  height: 4px;
}

.sl_form__multiselect__field::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.3);
    border-radius: 2px;
}

.sl_form__multiselect__field:focus {
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    outline: none;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

.sl_form__input {
    -webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
}

input.sl_form__input::placeholder {
    color: #ABABAB
}

.sl_form__multiselect__options {
    display: none;
    background-color: #ffffff;
    position: absolute;
    width: auto;
    color: #777;
    left: 5px;
    right: 5px;
    padding: 5px 0;
    top: calc(100% - 1px);
    z-index: 1;
    box-shadow: 0px 9px 18px 0 rgba(0,0,0,.15);
}

.sl_form__multiselect__options label {
    display: block;
    padding: 5px 10px;
    padding-left: 32px;
    line-height: 1;
    position: relative;
}

.sl_form__multiselect__options label input {
    position: absolute;
    left: 10px;
    top: calc(50% - 6.5px);
    margin: 0;
}

.sl_form__multiselect__options label:hover {
    background-color: #dadada;
}

.sl_form__multiselect__options {
    font-family: "Source Sans Pro";
}

.sl_card--email .sl_button {
    color: white;
    background-color: #71C1B3;
    border: none;
    border-radius: 0;
    font-family: Quattrocento, Helvetica, Arial;
    padding: 10px 32px;
    text-transform: uppercase;
}

.sl_form--email .sl_button {
    margin: 0 5px;
    flex: 1 1 auto;
}

.sl_card--email #mce-responses {
    text-align: center;
}

.sl_card--email #mce-responses .response {
    padding: 16px 5px 0px;
  }

.sl_card--email #mce-responses .response a {
    display: block;
}

/* Media Query For Small */
@media only screen and (max-width:767px) {
  .sl_footer__email {
    padding: 1.5rem 0 2rem;
  }

  .sl_footer__email .sl_inner {
    padding: 0 1.5rem;
  }

  .sl_card--email .sl_card {
    padding: 20px;
  }

  .sl_card--email h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .sl_form--email {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }

  .sl_form__multiselect {
    width: 100%;
    max-width: none;
  }

  .sl_form__input, .sl_form__multiselect__field {
    margin: 0 0 16px;
  }

  .sl_form--email .sl_button {
    margin: 0;
  }

  .sl_card--email #mce-responses .response {
    padding: 16px 0px 0px;
  }
}/*End Media Query */

/*----------------
End Email Form
------------------*/


/*-----------------
FOOTER ACCREDITATIONS
-------------------*/
.footer-accreditations{
    margin: 2rem auto;
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: space-evenly;
    width: 500px;
}

@media only screen and (max-width:550px){
    .footer-accreditations{
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: space-evenly;
        width: 100%;
    }
}
/*-----------------
END FOOTER ACCREDITATIONS
-------------------*/

/*-----------------
REPUTATION WIDGET SECTION
-------------------*/

.reputation--container {
        border-top: 5px solid #71c2b3;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
        padding: 32px;
        background-color: white;
        margin-left: 10rem;
}

@media only screen and (max-width: 640px) {
    .reputation--container {
        margin-left: 0;
    }
}

@media only screen and (min-device-width : 640px) and (max-device-width : 1110px) {
    .reputation--container {
        margin-left: 3rem;
    }
}

.reputation-title {
    font-size: 1.5rem !important;
    color: #303036 !important;
    text-align: center !important;
    margin-left: 0 !important;
    padding-bottom: 1rem;
    margin-top: 0 !important;
}

.about-para {
    color: #fff5db;
}

.about-video {
    padding-top: 20px;
    max-width: 600px;
}
