  html {font-size: 62.5%;}
*{
	font-size: 100.01%;
	margin:0; 
	padding:0;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}
body{
	color:#757575;
	font:1em/2em Georgia, "Times New Roman", Times, serif;
	background:#c79041;
	min-width:1002px;
}
a{
	text-decoration:none;
	color:#c89243;
}
a:hover {text-decoration:underline;}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#000;
	overflow: auto;
}
label{vertical-align:middle;}
button, input{
	width: auto;
	overflow: visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse: collapse;
	border-spacing: 0;
}

td.content {border: none;
	padding:5 5 5 5px;
	text-align:left;
	vertical-align:top;
	font-size: 14px;
	line-height: 20px;
}

th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul li {list-style: none;}

ul.content li 
	{list-style: inside; 
	font-size: 12px; 
	padding-left:5px; 
	text-indent: 10px;
	line-height: 20px; }

table.logos { border-collapse:collapse; }
table.community tr td { padding:5; margin:0; border:0; }
table.logos tr, table.logos td { padding:0; margin:0; border:0; }

.row{
	width:100%;
	overflow:hidden;
}
.wrap{height:1%;}
.wrap:after{
	content:"";
	display:block;
	clear:both;
}
#wrapper{
	width:100%;
	overflow:hidden;
	background: url(images/bg-wrapper-c.jpg) repeat-y 50% 0;
}
.wrapper-holder{background: url(images/bg-wrapper-t.jpg) no-repeat 50% 0;}
/*.wrapper-frame{background: url(images/bg-wrapper-b.jpg) no-repeat 50% 100%;}*/
.w1{
	width:980px;
	margin:0 auto;
	padding:0 6px 0 0;
}
#header{
	width:100%;
	padding:35px 0 10px;
	min-height:80px;
	position:relative;
	z-index:10;
}
#header:after{
	content:"";
	display:block;
	clear:both;
}
.logo{
	background: url("images/logo.gif") no-repeat scroll 0 0 transparent;
    height: 12px;
    left: 78px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 30px;
    width: 237px;
}
.logo a{
	display:block;
	height:100%;
}
#header .search-form{
	position:absolute;
	top:24px;
	right:26px;
	width:200px;
}
#header .search-form label{
	float:left;
	width:68px;
	padding:3px 5px 0 0;
	text-align:right;
	font-size:1.1em;
	line-height:1.2em;
	color:#988158;
	text-transform:uppercase;
}
#header .search-form .text{
	float:left;
	background: url(images/bg-input-01.gif) no-repeat;
	width: 120px;
	height: 19px;
	margin:0 2px 0 0;
}
#header .search-form .text input{
	float:left;
	border:0;
	background:none;
	width:110px;
	padding:2px 5px;
	line-height:15px;
	outline:none;
	overflow:hidden;
}
#header .search-form .btn-search{
	float:right;
	margin:6px 0 0;
}
#header .section{
	width:939px;
	overflow:hidden;
	padding:0 26px 0 16px;
}
#header .placeholder img{display:block;}
#header .panel{
	height:1%;
	overflow:hidden;
	padding:0 34px 13px;
	background: url(images/separator-01.gif) repeat-x 0 100%;
}
.social{
	float:left;
	list-style:none;
	margin:0 265px 0 0;
	padding:0;
}
.social li{
	float:left;
	margin:0 5px 0 0;
	list-style:none;
}
.social a{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	width:22px;
	height:23px;
	background: url(images/btn-social.gif) no-repeat;
}
.social a.btn-rss{background-position:-27px 0;}
.social a.btn-facebook-2{background-position:-53px 0;}
.social a.btn-twitter{background-position:-80px 0;}
.social a.btn-youtube{background-position:-106px 0;}
#header .btn-connect{
	float:right;
	background: url(images/btn-connect.gif) no-repeat;
	width: 92px;
	height: 23px;
	text-indent:-9999px;
	overflow:hidden;
}
.user-bar{
	float:right;
	list-style:none;
	margin:0;
	padding:10px 0 0;
	overflow:hidden;
	font-size:1.1em;
	line-height:1.2em;
}
.user-bar li{
	float:left;
	list-style:none;
	margin:0 2px 0 -2px;
	padding:0 6px 0 8px;
	background: url(images/separator-02.gif) no-repeat 0 2px;
}
.user-bar a{color:#808285;}
.txt-recovery{
	float:left;
	background: url(images/txt-recovery.gif) no-repeat;
	width: 250px;
	height: 19px;
	text-indent:-9999px;
	overflow:hidden;
	margin:4px 0 0;
}

.post-col .navigation { font-size:12px; }

/*** Slides ***/
#slides { height:342px; border-bottom:1px solid #BD9740; }
#slide1 { position:relative; }
#slide1 .story-details { 
	position:absolute; 
	background-color:#FFF; 
	top:35px; 
	left:600px; 
	width:350px; 
	height:220px; 
	border:2px solid #be6a4c;
	color:#be6a4c;
	font-size:11px;
	-webkit-border-radius:10px; 
	-moz-border-radius:10px; 
	border-radius:10px; 
}
#slide1 .story-details .padding { padding:15px; }
#slide1 .story-details span.name { text-transform:uppercase; font-weight:bold; font-size:12px; }
#slide1 .story-details p.title { font-family:Georgia, Georgia, serif; font-size:20px; font-style:italic; } 
#slide1 .story-details p.title span.up { font-style:normal; text-transform:uppercase; }
#slide2, #slide3, #slide4 { display:none; }

#slidecontainer { height:290px; position:relative; overflow:hidden; }
#slidecontainer img { width:980px; height:290px; }
#slidecontainer .slide { position:absolute; top:0; left:0; }

#slideshow { position:relative; width:980px; height:290px; }
#slide-nav { z-index:50; position: absolute; bottom:20px; left:35px; }
#slide-nav a {float:left; display:block; margin: 0 3px 0 0; height:15px; width:15px; background:url(images/slide-nav.png) top left no-repeat; text-indent:-9999px; text-decoration: none }
#slide-nav a.activeSlide { background-position: bottom left; }
#slide-nav a:focus { outline: none; }

#slide-buttons { margin-top:1px; padding-bottom:2px; }
#slide-buttons a { color:#FFF; font-style:italic; font-size:15px; display:block; padding-top:14px; }
#slide-buttons .slide { width:326px; height:50px; float:left; margin-right:1px; text-align:center; }
#slide-buttons .nomargin { margin:0; }
#slidebutton1 { background-color:#d35c34; }
#slidebutton2 { background-color:#bd982e; }
#slidebutton3 { background-color:#5a98a5; }


/*** General Page ***/
#page { width:705px; float:left; padding:0 25px; margin-top:25px; }
#page h1 { font-family:'Conv_RockwellStd', serif; font-size:28px; color:#5a98a5; text-transform:uppercase; line-height:120%; }
#page p { font-size:12px; }

/*** 404 Page ***/
#error_page { width:670px; float:left; padding:0 25px; margin-top:25px; margin-left:15px; }
#error_page h1 { font-family:'Conv_RockwellStd', serif; font-size:28px; color:#5a98a5; text-transform:uppercase; line-height:120%; }
#error_page p { font-size:12px; }

#page-sidebar { width:224px; float:right; border-left: 1px solid #B49D6D; }


/*** Stories ***/
#stories { width:725px; float:left; border-right:1px solid #b49d6d; margin:0 10px 10px 10px; }
#stories h1 { font-family:'Conv_RockwellStd', serif; font-size:28px; color:#5a98a5; margin-left:10px; text-transform:uppercase; }
#stories .thumb { float:left; width:100px; height:100px; margin-right:25px; padding:2px; border:1px solid #b49d6d; }
#stories .content { float:left; width:574px; }
#stories .story { padding-top:20px; clear:both; }
#stories .story p { font-size:12px; }
#stories .story p.title { margin-bottom:5px; }
#stories .story p.title a, #stories .story h2 { font-family:'Conv_RockwellStd', serif; color:#B3512E; font-size:24px; text-decoration:none; }
#stories .story p img { padding:2px; border:1px solid #b49d6d; }
#stories .navigation { font-size:12px; width:320px; clear:both; padding-top:10px; }
#stories .navigation div { display:inline; }

#stories .story-box { width:235px; height:285px; margin:0 5px 5px 0; float:left; background-color:#C0C0C0; }
#stories .story-box a { color:#FFF; }
#stories .story-box a:hover { text-decoration:none; }
#stories .promo .story-photo { background-color:#FFF; }
#stories .story-photo { width:235px; height:235px; background-color:#C0C0C0; }
#stories .story-photo img { width:235px; height:235px; }
#stories .story-photo p { text-align:center; padding-top:110px; text-transform:uppercase; font-family:'Conv_RockwellStd', serif; font-size:32px; font-style:normal; line-height:100%; }
#stories .story-hero { width:100%; height:50px; background-color:#909090; }
#stories .story-hero p { padding:12px 10px 5px; margin:0; line-height:100%; text-align:center; font-family:Georgia, 'Times New Roman', serif; font-size:13px; font-style:italic; }
#stories .story-hero span { font-family:'Conv_RockwellStd', serif; font-size:22px; font-style:normal; line-height:100%; }

.story-detail { background:url(images/story-bg.png) repeat-y 0 0; }
#stories section article h1 { text-align:left; margin-left:0; margin-top:0; text-transform:none; border-bottom:1px solid #bca57c; padding-bottom:10px; }
#stories section article h1 span { font-style:italic; color:#988158; font-family:Georgia, 'Times New Roman', serif; }
#stories section article .meta { font-style:italic; }
#stories section article .meta span { font-style:normal; color:#c58634; }
#stories section aside { width:200px; float:left; }
#stories section aside div#thumbnail { width:104px; height:104px; margin:auto; padding-top:5px; }
#stories section aside div#thumbnail img { padding:2px; border:1px solid #988158; }
#stories section article{ width:490px; float:left; padding:0 15px; font-size:12px; margin-bottom:25px; }
#stories section #related-stories { width:490px; margin:30px 0 50px 215px; }
#stories section #related-stories h3 { margin:auto; padding:0 0 10px; border-bottom:1px solid #988158; color:#988158; width:430px; font-size:20px; }

#story-sidebar { width:234px; float:right; }
#story-sidebar ul.story-categories { width:220px; display:block; }
#story-sidebar ul li { height:94px; margin-bottom:2px; }
#story-sidebar ul li a { display:block; color:#FFF; font-size:14px; font-style:italic; text-align:center; padding:25px 0; }
#story-sidebar ul li a:hover, #story-sidebar ul li a.active { text-decoration:none; cursor:pointer; background:url(images/rollover-bg-xparent.png) repeat 0 0; }
#story-sidebar ul li span { font-family:'Conv_RockwellStd', serif; font-size:22px; font-style:normal; }

#story-sidebar ul li.main a { color:#FFFFFF; padding-top:15px; font-family:Georgia, 'Times New Roman', serif; font-weight:bold; font-size:13px; text-transform:uppercase; font-style:normal; }
#story-sidebar ul li.main span { color:#5f5e5c; font-size:32px; font-family:'Conv_RockwellStd-Bold', serif; font-weight:normal; }

#story-info { background-color:#b69a71; width:715px; height:41px; margin-bottom:5px; }
#story-info p { font-family:'Conv_RockwellStd', serif; font-size:22px; color:#FFFFFF; padding:10px 0 0 20px; font-style:normal; }
#story-info .sort { float:right; width:380px; padding-top:6px; font-style:italic; font-family:Georgia, 'Times New Roman', serif; color:#FFF; font-size:18px; }
#story-info .sort form { margin:0; padding-top:3px; }
#story-info .sort select { font-size:14px; width:125px; padding:3px 4px; background-color:#e4d8c8; color:#b69a71; font-style:italic; font-family:Georgia, 'Times New Roman', serif; }
#story-info .search-form input[type="submit"] { background-color:#D15A32; border:1px solid #D15A32; padding:1px; color:#FFF; font-size:14px; }
#story-info .search-form input[type="submit"]:hover { cursor:pointer; }

#story-nav { background-color:#b69a71; width:715px; height:50px; margin-top:5px; clear:both; overflow: hidden; }
ul.page-numbers{list-style: none; background: #b69a71; color:#fff; margin:0; padding:0; overflow:hidden; clear:both; width:100%; font-size:1.2em;}
ul.page-numbers li{float:left; line-height:50px; text-transform: uppercase;}
ul.page-numbers li a{color:#fff; float:left; display:block; padding:0 2em; }
ul.page-numbers li a:hover{background: #986b4e;}
ul.page-numbers li .current{padding:0 2em; display:block; background: #5c7f9f;}

.story h1 { text-align:center; font-family:'Conv_RockwellStd-Light', serif; margin:15px 0 10px 0; line-height:100%; font-size:60px; color:#de9e68; text-transform:uppercase; font-weight:normal; }
.story h2 { text-align:center; font-size:14px; color:#222; font-weight:normal; font-style:italic; }

/*** Logo Stories ***/
#logo-story { padding:25px 0 0 25px; }
#logo-story .logo-left-h { background-color:#A4A35C; }
#logo-story .logo-right-h { background-color:#7291B0; }
#logo-story .logo-left-e { background-color:#7291B0; }
#logo-story .logo-right-e { background-color:#C58634; }
#logo-story .logo-left-r { background-color:#C58634; }
#logo-story .logo-right-r { background-color:#A4A35C; }
#logo-story .logo-left-o { background-color:#5998A4; }
#logo-story .logo-right-o { background-color:#C58634; }
#logo-story .logo-left-ee{ background-color:#D35C34; }
#logo-story .logo-right-ee { background-color:#BD982E; }
#logo-story .logo-left-s { background-color:#A4A35C; }
#logo-story .logo-right-s { background-color:#7291B0; }
#logo-story p.tagline1, #logo-story p.tagline2 { text-align:right; font-family:Georgia, 'Times New Roman', serif; font-style:italic; float:right; line-height:100% }
#logo-story p.tagline1 { color:#FFF; font-size:38px; padding:20px 0 20px 0; }
#logo-story p.tagline2 { color:#854322; font-size:28px; padding:0; }
#logo-story p.title { font-family:'Conv_RockwellStd',serif; font-size:42px; line-height:100%; text-transform:uppercase; padding:90px 0 0 0; }
#logo-story .box span.name { display:block; color:#cfdae4; }
#logo-story .box span.story { display:block; color:#ead2ae; font-weight:bold; }

#logo-sidebar { width:224px; float:left; }
#logo-sidebar .hero-logo { padding-left:25px; margin-top:50px; }
#logo-sidebar .hero-logo p { text-align:right; padding:20px 10px 0 0; color:#854322; font-size:22px; line-height:100%; font-family:Georgia, 'Times New Roman', serif; font-style:italic; }
#logo-sidebar .widget { padding:30px 20px 30px 23px; border-bottom:1px solid #b49d6d; }
#logo-sidebar .box p, .aside .box p { color:#666666; font-size:1.3em; font-style:italic; line-height:1.3em; margin:0; }
#logo-sidebar .widget a { font-size:1.3em; }


/*** News & Events ***/
#events { width:755px; float:left; border-right:1px solid #b49d6d; margin-top:15px; }
#events h1 { padding-left:25px; font-family:'Conv_RockwellStd-Bold', serif; font-weight:normal; font-size:32px; color:#5a98a5; text-transform:uppercase; line-height:28px; }
#events h2, #events h2 a { font-family:'Conv_RockwellStd-Bold', serif; font-weight:normal; font-size:32px; color:#5a98a5; text-transform:uppercase; line-height:28px; }
#events .event { padding:25px; clear:both; border-bottom: 1px solid #CD9A31; }
#events .event p { font-size:13px; }
/*#events .event img { width:200px; height:200px; } */
#events .event .thumb { float:left; margin-right:15px; }
#events .event .thumb img { width:250px; height:auto; border:1px solid #cd9a31; }
#events .event .content { padding-right:10px; font-size:13px; }
#events .event .content ul { padding-left:30px; }
#events .event .content ul li { list-style:disc; }
#events .event .content h1 { font-size:30px; line-height:100%; margin-bottom:10px; text-transform:none; font-family:Georgia, 'Times New Roman', serif; font-weight:bold; }
#events .event .content h1 a { color:#da592f; }
#events .event .content p.meta { margin:0; padding:0; font-style:italic; }
#events .event .content p.meta span { font-style:normal; color:#cd9a31; }
#events .event .content p.excerpt { padding-top:20px; }
#events .event .content img.content-thumb { float:left; border:1px solid #b29f65; margin:0 15px 15px 0; }
#events .wp-paginate { font-size:13px; }
#events p.more { text-align:center; font-size:20px; font-weight:bold; color:#b29f65; margin: 15px 15px 15px 0; }

#events .event-list { border-top:1px solid #b29f65; }
#events .event-list aside { padding-top:20px; width:200px; float:left; }
#events .event-list aside .thumb { width:100px; margin:auto; }
#events .event-list aside .thumb img { width:100px; padding:2px; height:100px; border:1px solid #b29f65; }
#events .event-list article { padding-top:20px; float:right; width:550px; border-left:1px solid #b29f65; }
#events .event-list article h1 { border-bottom:1px solid #b29f65; font-size:30px; padding:0 0 10px; margin:0 25px 10px;  line-height:100%; text-transform:none; font-family:Georgia, 'Times New Roman', serif; font-weight:bold; }
#events .event-list article h1 a { color:#da592f; }
#events .event-list p { font-size:13px; padding-left:25px; }
#events .event-list article p.meta { margin:0; padding:0 0 0 25px; font-style:italic; }
#events .event-list article p.meta span { font-style:normal; color:#cd9a31; }
#events .event-list article p.excerpt { padding-top:10px; }
#event-sidebar { width:224px; float:right; }


/*** Share Your Story ***/
#share { padding:0 32px; }
#share .form-selection { height:480px; left:-32px; width:980px; position:relative; background:url(images/share-checkbox-yes.png) no-repeat 0 0; }
#share .form-selection a.yes { display:block; position:absolute; width:321px; height:414px; }
#share .form-selection a.maybe { display:block; position:absolute; left:321px; width:315px; height:414px; }
#share .form-selection a.no { display:block; position:absolute; left:636px; width:315px; height:414px; }

#share h1 { color:#bb962e; font-family:'Conv_RockwellStd-Light', serif; font-weight:normal; text-align:center; line-height:100%; margin:auto; text-transform:uppercase; font-size:48px; }
#share h2 { font-style:italic; font-family:Georgia, 'Times New Roman', serif; color:#b0b0b0; text-align:center; font-size:29px; line-height:100%; font-weight:normal; }
#share #form-yes { border:1px solid #b69b72; height:575px; }
#share #form-maybe, #share #form-no { display:none; border:1px solid #b69b72; padding:30px; }
#share #form-maybe h1 { color:#ab8a29; font-family:'Conv_RockwellStd-bold', serif; font-weight:normal; font-size:22px; margin-bottom:20px; }
#share #form-maybe h2 { color:#ab8a29; font-size:18px;margin:5px 0 30px 0; }
#share #form-maybe .faq { width:550px; padding-left:130px; }
#share #form-maybe .faq .q { margin-bottom:10px; padding-left:65px; background:url(images/form-faq.png) no-repeat 0 0; font-family:Georgia, 'Times New Roman' serif; }
#share #form-maybe .faq .q dt { font-style:italic; font-size:18px; padding-top:18px; }
#share #form-maybe .faq .q dd { font-size:14px; padding-top:10px; }
#share #form-no form h1 { color:#6aa1a3; font-family:'Conv_RockwellStd-bold', serif; font-weight:normal; font-size:22px; margin-bottom:20px; }
#share .field { margin:auto; margin-bottom:13px; width:480px; }
#share .field input[type="text"] { border:1px solid #a17d55; padding:8px; color:#a17d55; font-size:14px; width:478px; margin-bottom:7px; }
#share .field textarea { color:#a17d55; font-size:14px; width:100%; height:200px; padding:10px; border:1px solid #b69b72; resize:none; }

#thanks h1 { line-height:100%; font-family:'Conv_RockwellStd', serif; font-weight:normal; font-size:86px; text-align:center; text-transform:uppercase; margin:0px; }
#thanks h1 .one { color:#5a96a2; }
#thanks h1 .two { color:#a2a35b; }
#thanks h1 .three { color:#d15b34; }
#thanks h2 { line-height:100%; color:#c38431; font-family:Georgia, 'Times New Roman', serif; font-style:italic; margin:0; font-size:15px; font-weight:normal; text-align:center; }
#thanks .now-what { margin:10px 75px 0 50px; background:url(images/thankyou-whatnow.jpg) no-repeat right top; }
#thanks .now-what .left { width:400px; padding:15px 0 0 30px; }
#thanks .now-what .left h3 { margin:0; color:#b0b0b0; line-height:90%; text-transform:uppercase; font-size:55px; font-family:'Conv_RockwellStd-Light', serif; font-weight:bold;  }
#thanks .now-what .left h3 span { color:#8f8f8f; font-size:82px; line-height:90%; }
#thanks .now-what .left p { font-size:13px; color:#000000; font-family:Georgia, 'Times New Roman', serif; } 
#thanks .tip { background:url(images/thankyou-tipbg.png) no-repeat center bottom; padding-bottom:10px; margin:0 0 15px 50px; }
#thanks .tip p { padding:10px 0 0 368px; font-size:13px; color:#000; }
#thanks .tip img { float:right; }
#thanks .encourage { background:url(images/thankyou-encourage.png) no-repeat 0 0; }
#thanks .encourage p { width:400px; }
#thanks .tshirts { background:url(images/thankyou-tshirts.png) no-repeat 0 0; }
#thanks .tshirts p { width:220px; }
#thanks .tshirts img  { margin-right:60px; }
#thanks .sixk { background:url(images/thankyou-6k.png) no-repeat 0 0; }
#thanks .sixk p { width:220px; padding-left:380px; }
#thanks .sixk img { margin-right:69px; }
#thanks .stickerup { background:url(images/thankyou-stickerup.png) no-repeat 0 0; }
#thanks .stickerup p { width:220px; padding-left:380px; }
#thanks .stickerup img { margin-right:20px; }

/*** Contact ***/
#contact { padding:40px 25px 0 25px; font-size:12px; }
#contact h1 { font-family:'Conv_RockwellStd', serif; font-size:28px; color:#5a98a5; text-transform:uppercase; }
.contact h3 { color:#D75932; font-size:32px; margin:40px 0; font-style:italic; text-align:center; }
.contact p { font-size:16px; }
.contact-container { border-top:1px solid #B49D67; }
.contact-container .call-map { width:47%; float:left; }
.contact-container .call-map .phone { border-bottom:1px solid #B49D67; padding:0 10px 20px; margin:10px 0 30px 0; font-family:'Conv_RockwellStd', serif; color:#727f30; font-size:24px; line-height:160%; }
.contact-container .call-map .phone span { font-size:60px; }
.contact-container .call-map .map { padding:0 0 0 10px; font-size:16px; }
.contact-container .call-map .map p { color:#C89243; font-size:24px; font-family:'Conv_RockwellStd', serif; } 
.contact-container .call-map .map .map-frame  { margin-top:20px; }
.contact-container .form { width:52%; float:left; border-left:1px solid #B49D67; }
.contact-container .form  p { color:#C89243; font-size:24px; font-family:'Conv_RockwellStd', serif; padding:15px 8px 0; }


/*** Home ***/
#homeleft { float:left; width:754px; border-right:1px solid #b49d6d; }
#homeleft .video { padding:25px 20px 0 20px; width:300px; float:left; }
#homeleft .intro { padding:27px 15px 0 0; color:#5a98a5; float:left; width:399px; font-family:'EB Garamond', serif; }
#homeleft .intro h2 { font-size:24px; }
#homeleft .intro p { font-size:14px; font-style:italic; font-family:Georgia, Georgia, serif; }
#homeleft .intro a { font-style:normal; font-weight:bold; color:#5a98a5; }
#homeleft .recent { margin-top:20px; border-top:1px solid #b49d6d; border-bottom:1px solid #B49D6D; background: url("images/recent-bg.png") repeat-y scroll 0 0 transparent; }
#homeleft .recent-story { width:376px; float:left; position:relative; }
#homeleft .recent-story .recent-story-flag { background:url("images/sprites.png") no-repeat scroll 0 -269px transparent; color:#FFFFFF; font-size:18px; left:-20px; line-height:20px; position:absolute; top:10px; }
#homeleft .recent-story .recent-story-flag span { background: url("images/sprites.png") no-repeat scroll 100% -269px transparent;float: left; height: 35px;padding: 20px 33px 0 18px; }
#homeleft .recent-story .stories { padding:77px 20px 0 30px; }
#homeleft .recent-story .stories .story p.title { font-size:18px; font-weight:bold; margin:0; font-family:'EB Garamond', serif; }
#homeleft .recent-story .stories .story p.excerpt  { font-size:11px; }
#homeleft .recent-events { width:377px; float:left; color:#5a98a5; }
#homeleft .recent-events h2 { text-transform:uppercase; font-family:'EB Garamond', serif; font-size:28px; margin-bottom:8px; }
#homeleft .recent-events .events { margin:0; padding:25px 15px 0 20px; border:medium none; color:#5a98a5; }
#homeleft .recent-events .events .event { clear:left; padding-bottom:20px;  }
#homeleft .recent-events .events .event a { color:#5a98a5; }
#homeleft .recent-events .events .event p { margin:0; line-height:20px; }
#homeleft .recent-events .events .event .thumbnail { float:left; width:75px; height:75px; margin-right:10px; }
#homeleft .recent-events .events .event .thumbnail img { border:1px solid #000; }
#homeleft .recent-events .events .event .title { font-size:16px; }
#homeleft .recent-events .events .event .excerpt  { font-size:11px; font-family:Georgia, Georgia, serif; }
#homeleft .social-box { border:medium none; }
#homeright { float:left; width:225px; }


.gallery ul .box{
	float:left;
	border:1px solid #b9a37c;
	min-height:284px;
	padding:0 20px;
	width:254px;
}

/*** Nav ***/
#nav{
	list-style:none;
	margin:9px 0 0 0;
	padding:0;
	height:1%;
	background:url(images/separator-01.gif) repeat-x scroll center bottom transparent;
	font-size:1.2em;
	line-height:1.2em;
	letter-spacing:1px;
	height:29px;
	padding:0 0 0 22px;
}
#nav li{ float:left; list-style:none; position:relative; font-size:12px; margin-top: 1px; }
* html #nav li{padding:0 32px 0 33px;}
*+html #nav li{padding:0 32px 0 33px;}
#nav li.heroes{padding:0 76px 0 63px;}
* html #nav li.heroes{padding:0 75px 0 62px;}
*+html #nav li.heroes{padding:0 75px 0 62px;}
#nav li:hover .drop,
#nav li.hover .drop{display:block;}
#nav a { position:relative; z-index:100; color:#988158; padding:10px 12px 13px; background:url("images/separator-03.gif") repeat-y scroll 100% 2px transparent }
#nav li:last-child a { background:none; }
#nav a:hover, #nav li:last-child a:hover, #nav .active a { text-decoration:none;color:#b87861;background-color:#b4a391;color:#FFF; }
/*#nav .active a{font-weight:bold;}*/


#nav li#menu-item-1693 .drop { width:257px; left:-1px; }
#nav li#menu-item-1693 .drop-c { padding:0; height:100%; }
#nav li#menu-item-1693 .drop ul { width:100%; margin:0; }
#nav li#menu-item-1693 .drop ul li { text-align:center; padding:0; }
#nav li#menu-item-1693 .drop ul li a { display:block; padding:8px 12px; }
#nav li#menu-item-1693 .drop ul li:last-child { border-bottom:1px solid #C6B393; }
#nav li#menu-item-1693 .drop ul li a span.sub { color:#909090; }

#nav li#menu-item-181 .drop { width:257px; left:-1px; }
#nav li#menu-item-181 .drop-c { padding:0; height:100%; }
#nav li#menu-item-181 .drop ul { width:100%; margin:0; }
#nav li#menu-item-181 .drop ul li { text-align:center; padding:0; }
#nav li#menu-item-181 .drop ul li a { display:block; padding:8px 12px; }
#nav li#menu-item-181 .drop ul li:last-child { border-bottom:1px solid #C6B393; }
#nav li#menu-item-181 .drop ul li a span.sub { color:#909090; }

#nav li.current_page_item a{text-decoration:none;color:#b87861;background-color:#b4a391;color:#FFF;}

#nav .drop{
	display:none;
	position:absolute;
	top:28px;
	left:-3px;
	font-size:1.1em;
	line-height:1.2em;
	font-style:italic;
}
#nav .drop-t{
	background: url(images/bg-drop-t.png) no-repeat;
	width: 235px;
	height: 36px;
}
#nav .drop-c{
	height:1%;
	padding:0 16px 12px 2px;
	z-index:999;
}
#nav .drop-c a { background:none; }
#nav .drop-c:after{
	content:"";
	display:block;
	clear:both;
}
#nav .drop-b{
	background: url(images/bg-drop-b.png) no-repeat;
	width: 235px;
	height: 37px;
}
#nav .drop ul{
	float:left;
	width:209px;
	list-style:none;
	margin:0 0 -25px;
	padding:0;
	position:relative;
}
#nav .drop ul li{
	height:1%;
	overflow:hidden;
	float:none;
	padding:12px 10px 9px 10px;
	border-top:1px solid #c6b393;
	border-left:1px solid #c6b393;
	border-right:1px solid #c6b393;
	background:#FFF;
	margin:0;
	text-align:left;
}
#nav .drop ul li.last { border-bottom:1px solid #c6b393; }
#nav .drop ul li a { font-weight:normal; }
#nav .drop ul a,
#nav li:hover .drop ul a,
#nav li.hover .drop ul a{color:#988158;}
#nav .drop ul a:hover{ background-color:#f1e8e1; }
#main{
	padding:10px 0 45px;
	width:100%;
}
#main:after{
	content:"";
	display:block;
	clear:both;
}


.add-logo-01{
	float:left;
	width:387px;
	height:269px;
	background: url(images/sprites.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 17px 0 0;
}

.twocolumns{
	width:100%;
	padding:37px 0 0;
}
.twocolumns:after{
	content:"";
	display:block;
	clear:both;
}
#content{
	float:left;
	width:757px;
}
.dates-block{
	padding:0 17px 24px 28px;
	margin:0 0 -1px;
	background: url(images/separator-01.gif) repeat-x 0 100%;
}
.dates-block h2{
	font-size:3.8em;
	line-height:1.1em;
	font-weight:normal;
	letter-spacing:-1px;
	color:#79b5b1;
	margin:0 0 4px;
	font-family:'Conv_RockwellStd-Light',Sans-Serif;
}
.dates-block .boxes{
	width:730px;
	margin:0 -22px 0 0;
	padding:10px 0 42px;
	overflow:hidden;
	background: url(images/bg-boxes.gif) repeat-y;
}
.dates-block .boxes .box{
	float:left;
	display:inline;
	width:168px;
	padding:0 3px;
	margin:0 6px 0 0;
	text-align:center;
}
.dates-block .boxes .month{
	display:block;
	font-size:2.9em;
	line-height:1.1em;
	color:#fff;
	padding:0 0 37px;
}
.dates-block .boxes .name{
	display:block;
	font-size:2.3em;
	line-height:1em;
	letter-spacing:-1px;
	color:#b3512e;
	padding:0 0 3px;
}
.dates-block .boxes .name span{display:block;}
.dates-block .boxes a{
	font-size:2em;
	line-height:1.1em;
	color:#fff;
}
.dates-block .boxes .brown .name{color:#d6a06c;}
.dates-block .boxes .blue .name{color:#b3512e;}
.dates-block .boxes .blue .month{padding:0 0 17px;}
.dates-block .boxes .orange .name{color:#b3512e;}
.two-cols{
	height:1%;
	background: url(images/bg-two-cols.gif) repeat-y;
	padding:0 16px 53px 27px;
}
* + html .two-cols{
	padding:0 16px 65px 27px;
}
.two-cols:after{
	content:"";
	display:block;
	clear:both;
}
.post-col{
	float:left;
	width:523px;
}
.post{width:100%; margin-bottom:30px;}
.post:after{
	content:"";
	display:block;
	clear:both;
}
.post .author-box{
	float:left;
	width:118px;
	padding:108px 0 10px;
	position:relative;
}
.author-box .img-box{
	display:block;
	padding:6px;
	margin:0 0 7px;
}
.author-box .img-box img{display:block;}
.author-box .about{
	font-size:1.1em;
	line-height:1.75em;
	font-style:italic;
	padding:0 3px 0 4px;
	color:#9f9e9e;
}
.author-box .about p{margin:0;}
.author-box .about p a{color:#c99448;}
.author-box .about .link-more{
	font-size:1.03em;
	line-height:1.2em;
}
.author-box .feature{
	position:absolute;
	top:3px;
	left:-47px;
	font-size:18px;
	line-height:20px;
	color:#fff;
	background: url(images/sprites.png) no-repeat 0 -269px;
}
.author-box .feature span{
	float:left;
	height:35px;
	padding:20px 33px 0 18px;
	background: url(images/sprites.png) no-repeat 100% -269px;
}
.post-content{
	float:right;
	width:376px;
}
.post-content h1 { line-height:100%; }
.post-content h2{
	font-size:3.5em;
	line-height:1.2em;
	font-weight:normal;
	color:#bc8a34;
	margin:0;
}
.post-content h3{
	font-size:2.3em;
	line-height:1.1em;
	font-style:italic;
	font-weight:normal;
	color:#b8b8b8;
	margin:0 0 13px;
}
.post-content .info{
	display:block;
	font-size:1.1em;
	line-height:1.2em;
	font-style:italic;
	padding:0 0 14px;
}
.post-content .info strong{
	color:#C89243;
	font-weight:normal;
}
.post-content p{ margin:0 0 11px; font-size: 1.2em; }
.post-content .placeholder{padding:0 0 8px;}
.post-content .placeholder img{display:block;}
.post-content .comments{
	padding:0 0 22px;
	font-size:1.1em;
	line-height:1.2em;
	font-style:italic;
}
.post-content .comments strong{
	color:#C89243;
	font-weight:normal;
}
.post-content .comments .number{
	padding:0 3px 0 0;
	color:#8e8a8a;
}
.post-content .tag-list{
	list-style:none;
	margin:0;
	padding:0;
	display:inline;
	font-size:1em;
	line-height:1.4em;
} 
.post-content .tag-list li{
	display:inline;
	list-style:none;
}
.post-content .tag-list a{color:#9f9e9e;}
.social-box{
	height:1%;
	overflow:hidden;
	padding:0 5px;
	border-bottom: 1px solid #BAA57E;
	clear:both;
}
.social-box .social-plagin{
	float:left;
	margin:0;
	list-style:none;
	padding:0 9px 0 0;
}
.social-box .social-plagin li{
	float:left;
	margin:0 2px 0 0;
}
.social-box .social-plagin li a{
	font-size:0;
	line-height:0;
	float:left;
}
.social-box .social-plagin li img{vertical-align:top;}
.social-box .social-comments{
	padding:0;
	margin:0;
	list-style:none;
	float:left;
}
.social-box .social-comments li{
	float:left;
	margin:0 8px 0 0;
}
.social-box .social-comments a,
.social-box .social-comments span{
	float:left;
	line-height:16px;
}
.social-box .social-comments .comments-icon{
	background:url(images/icon-comment.gif) no-repeat 0 5px;
	width:70px;
	height:18px;
	padding:0 0 0 18px;
	color:#67A3C0;
}
.social-box .social-comments .facebook{
	background:url(images/icon-f.gif) no-repeat;
	width:26px;
	height:18px;
	padding:0 0 0 21px;
	color:#000;
}
.social-box .social-comments .twitter{
	background:url(images/icon-t.gif) no-repeat;
	width:26px;
	height:18px;
	padding:0 0 0 34px;
	color:#000;
}
.social-box .rating-box{float:left;}
.social-box .rating-box span{
	float:left;
	font-size:1em;
	line-height:1.1em;
	color:#67a3c0;
	padding:3px 3px 0 0;
}
.rating{
	float:left;
	list-style:none;
	margin:0;
	padding:1px 0 0;
}
.rating li{
	float:left;
	list-style:none;
	margin:0 1px 0 0;
}
.rating a{
	float:left;
	width:15px;
	height:15px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/sprites.png) no-repeat 0 -324px;
}
.rating a:hover,
.rating .active a{background-position:-16px -324px;}
.two-cols .aside-col{
	float:right;
	width:162px;
	padding:10px 0 0;
}
.social-media { padding:0 0 10px 20px; }
.social-media img { outline:none; border:none; }
.friends-box{padding:0 0 10px;}
.friends-box h3{
	font-size:1.4em;
	line-height:1.1em;
	font-weight:normal;
	font-style:italic;
	color:#696969;
	margin:0 0 12px;
}
.recent-posts h3 { color:#c8932e; font-size:18px; }
.recent-posts p { margin:0; }
.recent-posts p.title { font-weight:bold; font-size:12px; }
.recent-posts p.meta { font-style:italic; }
.recent-posts .post { margin-bottom:10px; }

.categories{
	position:relative;
	margin:0 -2px 0 -10px;
	width:180px;
	padding:4px 0 0 0;
	text-align:right;
}
.categories h4{
	font-size:1.1em;
	line-height:1.2em;
	font-weight:normal;
	font-style:normal;
	color:#7f7f7f;
	margin:0 8px 6px 0;
}
.categoies-list{
	margin:0 8px 0 0;
	padding:0;
	font-size:1.1em;
	line-height:1.24em;
	color:#969292;
	letter-spacing:-1px;
}
.categoies-list li{
	list-style:none;
	padding:0 0 5px;
}
.categoies-list a{color:#cd9b54;}
#sidebar{
	float:left;
	width:225px;
	padding:0;
	margin:0;
}
#sidebar .box{
	padding:0 21px 22px 17px;
}
#sidebar .widget { border-bottom:1px solid #B49D6D; padding-top:20px; }
.add-logo-02{
	display:block;
	width:178px;
	height:320px;
	text-indent:-9999px;
	overflow:hidden;	
	background: url(images/sprites.png) no-repeat 0 -339px;
}
.add-logo-03{
	display:block;
	width:178px;
	height:215px;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 7px 7px;
	background: url(images/sprites.png) no-repeat -178px -339px;
}
#sidebar .link-sign-up,
.aside .link-sign-up{
	font-size:1.2em;
	line-height:1.2em;
	padding:0 0 8px 40px;
}
#sidebar .link-sign-up a,
.aside .link-sign-up a{color:#b3512e;}
#sidebar .box-2{
	border:0;
	margin:0;
	padding-left:20px;
}
.add-logo-04{
	display:block;
	width:179px;
	height:314px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/sprites.png) no-repeat -356px -339px;
	margin:0 0 15px;
}
#sidebar .box p,
.aside .box p{
	font-size:1.3em;
	line-height:1.3em;
	font-style:italic;
	color:#666;
	margin:0;
}
#sidebar .box p a,
.aside .box p a{color:#55a6b5;}
#footer{
	font-size:1.2em;
	line-height:1.2em;
	padding:0 10px 33px;
	text-align:center;
	color:#2e2e2e;
}
#footer .item-list{
	list-style:none;
	margin:0;
	padding:0 0 21px;
}
#footer .item-list li{
	display:inline;
	list-style:none;
	padding:0 15px;
	background: url(images/separator-04.gif) no-repeat 0 2px;
}
#footer .item-list li:first-child,
#footer .item-list li.first-child{background:none;}
#footer .item-list a{color:#2e2e2e;}
#footer .item-list a.email{color:#33a3c8;}
.nav{
	list-style:none;
	margin:0;
	padding:0;
}
.nav li{
	display:inline;
	list-style:none;
	padding:0 15px 0 16px;
	background: url(images/separator-04.gif) no-repeat 0 1px;
}
.nav li:first-child,
.nav li.first-child{background:none;}
.nav a{color:#2e2e2e;}
.twocolumns-2{
	padding:0;
	margin:10px 0 0;
	background: url(images/bg-twocolumns-02.gif) repeat-y;
}
.twocolumns-2 .two-cols{
	background:none;
	padding:0 20px 0 85px;
}
.twocolumns-2 .post-col{width:651px;}
.twocolumns-2 .post .author-box{padding:3px 0 10px;}
.twocolumns-2 .post .author-box img { padding:3px; border:1px solid #BDA883; }
.twocolumns-2 .post-content{width:495px;font-size:12px;}
.twocolumns-2 .social-box .rating-box{padding:3px 0 0;}
.twocolumns-2 #sidebar{
	width:170px;
	padding:0 33px 0 20px;
}
.twocolumns-2 .categories h4{margin:0 8px 10px 0;}
.twocolumns-2 .categoies-list{
	padding:0 0 9px;
	line-height:14px;
}
.twocolumns-2 .categoies-list li{padding:0 0 8px;}
.threecolumns{
	width:100%;
	overflow:hidden;
	margin:16px 0 0;
	background: url(images/bg-threecolumns.gif) repeat-y;
}
.threecolumns #content{
	float:left;
	width:980px;
}
.c1{
	min-height:200px;
	overflow:hidden;
	margin:0 240px 0 246px;
}
#sidebar .recent-posts { border-bottom:1px solid #B49D6D; padding-bottom:20px; }
* html .c1{height:200px;}
.form-block{
	width:100%;
	overflow:hidden;
	position:relative;
}
.c1 h2{
	font-size:5.5em;
	line-height:1em;
	font-weight:normal;
	color:#b3512e;
	letter-spacing:-1px;
	margin:0 0 8px;
}
.c1 p{
	font-size:1.3em;
	line-height:1.8em;
	color:#706d6e;
	margin:0 0 15px;
}
.contact-form{
	padding:24px 0 0 6px;
	color:#b3b3b3;
	font:1.1em/1.2em Arial, Helvetica, sans-serif;
	position:relative;
}
.contact-form .title{
	display:block;
	padding:0 0 15px;
}
.contact-form .help{
	display:block;
	padding:0 0 23px;
	font-weight:bold;
	font-size:0.9em;
	line-height:1.1em;
	color:#9e9e9e;
}
.contact-form .box{
	width:100%;
	overflow:hidden;
	padding:0 0 15px;
}
.contact-form .row{padding:0 0 8px;}
.contact-form label{
	float:left;
	width:75px;
	padding:3px 5px 0 0;
}
.contact-form .text{
	float:left;
	width:397px;
	height:20px;
	background: url(images/sprites.png) no-repeat 0 -659px;
}
.contact-form .text input{
	float:left;
	width:377px;
	border:0;
	background:none;
	font-size:11px;
	line-height:14px;
	padding:3px 10px 3px;
	margin:0;
	color:#b3b3b3;
	outline:none;
	overflow:hidden;
}
.contact-form .textarea{
	float:left;
	width:397px;
	height:289px;
	background: url(images/sprites.png) no-repeat -535px -339px;
}
.contact-form .textarea textarea{
	float:left;
	border:0;
	background:none;
	margin:0;
	padding:5px 10px;
	width:377px;
	height:279px;
	max-width:377px;
	max-height:279px;
	min-width:377px;
	min-height:279px;
	overflow:auto;
	color:#b3b3b3;
}
.contact-form .file{
	float:left;
	width:214px;
	overflow: hidden;
	z-index: 10;
	height:20px;
	background: url(images/sprites.png) no-repeat -535px -628px;
}
.contact-form .file-input-area{
	position:relative;
	z-index:22;
	height:20px;
	width:100%;
	padding:0;
	margin:0;
	cursor:pointer;
}
.contact-form .file .text{
	z-index:2;
	position:relative;
	width:127px;
	height:15px;
	font-size:11px;
	line-height:14px;
	padding:3px 10px 3px;
	margin: 0;
	border:0;
	background:none;
	color:#b3b3b3;
}
.contact-form .file .button{
	float:right;
	background:url(images/sprites.png) no-repeat -682px -628px;
	width:67px;
	height:20px;
	text-indent:-9999px;
	overflow:hidden;
}
.contact-form .captcha-box .wrap{padding:0 0 5px;}
.contact-form .captcha-box label{padding-top:15px;}
.contact-form .captcha-box .img-box{
	float:left;
	margin:0 12px 0 0;
}
.contact-form .btn-upload{
	float:left;
	width:16px;
	height:17px;
	text-indent:-9999px;
	overflow:hidden;
	margin:25px 0 0;
	background: url(images/sprites.png) no-repeat -749px -628px;
}
.contact-form .captcha-box .row{padding:0 0 0 81px;}
.contact-form .captcha-box .text{
	width:149px;
	height:19px;
	background-position:100% -628px;
}
.contact-form .captcha-box .text input{width:129px;}
.contact-form .btn-row{
	height:1%;
	overflow:hidden;
	padding:9px 0 0 174px;
}
.contact-form .btn-submit{
	float:left;
	width:47px;
	height:22px;
	background: url(images/sprites.png) no-repeat -765px -628px;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	border:0;
	padding:0;
	margin:0;
	cursor:pointer;
}
.threecolumns .aside{
	float:left;
	margin:0 0 0 -981px;
	padding:4px 0 80px;
	width:222px;
}
.threecolumns .aside .box{
	padding:0 10px 21px 22px;
	margin:0 0 21px;
	border-bottom:1px solid #cbbb9e;
}
.add-logo-07{
	display:block;
	width:179px;
	height:312px;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 15px;
	background: url(images/sprites.png) no-repeat 0 -679px;
}
.add-logo-05{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	width:215px;
	height:243px;
	position:relative;
	margin:0 -4px 0 -22px;
	background: url(images/sprites.png) no-repeat -387px 0;
}
.aside .link-more{
	position:relative;
	margin:-29px 0 0;
	padding:0 0 8px 31px;
	font-size:14px;
	line-height:15px;
	font-style:italic;
}
.aside .link-more a{color:#b3512e;}
.aside .link-more span{display:block;}
.threecolumns #sidebar{
	float:left;
	margin:0 0 0 -223px;
	padding:6px 0 0;
}
.threecolumns #sidebar .box{
	padding-bottom:27px;
	margin-bottom:20px;
}
.calling-box{
	border-bottom:1px solid #cfc0a5;
	padding:0 23px 15px 20px;
}
.add-logo-06{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	position:relative;
	width:181px;
	height:185px;
	margin:0 0 15px -2px;
	background: url(images/sprites.png) no-repeat -602px 0;
}
.dates-list{
	list-style:none;
	margin:0;
	padding:0 0 7px;
	position:relative;
}
* html .dates-list{margin:0 0 0 -18px;}
*+html .dates-list{margin:0 0 0 -18px;}
.dates-list li{
	height:1%;
	overflow:hidden;
	list-style:none;
	margin:0;
	vertical-align:top;
	padding:0 0 2px;
}
.dates-list a{float:left;}
.dates-list a img{
	margin:0;
	display:block;}
.threecolumns #sidebar .link-more{
	font-size:1.4em;
	line-height:1.1em;
	font-style:italic;
	text-align:center;
}
.threecolumns #sidebar .link-more a{color:#b3512e;}
.heroes-nav{
	list-style:none;
	margin:0;
	padding:0;
	height:1%;
	overflow:hidden;
}
.heroes-nav li{
	list-style:none;
	float:left;
}
.heroes-nav a{
	float:left;
	height:173px;
	width:174px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/bg-link-heroes.jpg) no-repeat;
}
.heroes-nav a:hover,
.heroes-nav .active a{background-position:0 -173px;}
.heroes-nav a.btn-e{
	width:144px;
	background-position:-174px 0;
}
.heroes-nav a.btn-e:hover,
.heroes-nav .active a.btn-e{background-position:-174px -173px; }
.heroes-nav a.btn-r{
	width:164px;
	background-position:-318px 0;
}
.heroes-nav a.btn-r:hover,
.heroes-nav .active a.btn-r{background-position:-318px -173px;}
.heroes-nav a.btn-o{
	width:172px;
	background-position:-482px 0;
}
.heroes-nav a.btn-o:hover,
.heroes-nav .active a.btn-o{background-position:-482px -173px;}
.heroes-nav a.btn-ee{
	width:125px;
	background-position:-654px 0;
}
.heroes-nav a.btn-ee:hover,
.heroes-nav .active a.btn-ee{background-position:-654px -173px;}
.heroes-nav a.btn-s{
	width:153px;
	background-position:-779px 0;
}
.heroes-nav a.btn-s:hover,
.heroes-nav .active a.btn-s{background-position:-779px -173px;}
.gallery-box{
	border-bottom:1px solid #c2ae8b;
	padding:0 28px 5px 27px;
}
.gallery{
	width:100%;
	overflow:hidden;
	position:relative;
}
.gallery .link-prev,
.gallery .link-next{
	position:absolute;
	top:11px;
	left:0;
	width:27px;
	height:27px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/sprites.png) no-repeat 100% -339px;
}
.gallery .link-next{
	left:auto;
	right:0;
	background-position:100% -366px;
}

.gallery-holder{
	width:100%;
	overflow:hidden;
	padding:6px 0 0;
}
.gallery-holder ul{
	width:99999px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
}
.gallery-holder ul li{
	list-style:none;
	float:left;
	width:315px;
}

* html .gallery ul .box{height:284px;}
.gallery .add-nav{
	width:233px;
	margin:0;
	padding:34px 0 0 35px;
}
.gallery .add-nav li{
	width:100%;
	list-style:none;
	vertical-align:top;
	padding:0 0 54px;
}
.gallery .add-nav span {
	display: block;
    font-family:'Conv_RockwellStd-Bold',Sans-Serif;
    font-size: 2.8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    color:#FFF;
    line-height:100%;
	/*
	text-indent:-9999px;
	overflow:hidden;
	height:19px;
	width:167px;
	background: url(images/sprites.png) no-repeat -179px -679px;
	*/
}
.gallery .add-nav .link-healing{padding:0 0 66px;}
.gallery .add-nav .link-healing a{
	width:161px;
	background-position:-179px -698px;
}
.gallery .add-nav .link-hope{padding:0 0 45px;}
.gallery .add-nav .link-hope a{
	width:95px;
	background-position:-179px -717px;
}
.gallery .more-link{
	font-size:10px;
	line-height:12px;
	padding:0 27px 0 0;
	text-align:right;
}
.gallery .more-link a{
	color:#b3512e;
	letter-spacing:1px;
}
.enlarge-link{
	font-size:10px;
	line-height:12px;
	text-transform:uppercase;
	text-align:right;
	padding:0 4px 8px 0;
}
.enlarge-link a{color:#b65c36;}

.img-h {
	display:block;
}
.img-e {
	display:block;
}
.img-r {
	display:block;
}
.img-o {
	display:block;
}
.img-ee { /* Tracy */
	display:block;
}
.img-s {
	display:block;
}

.heroes-left { 
	background-color:#bd982e;
}
.heroes-left img { padding:75px 0 0 33px; }
.heroes-right { 
	background-color:#5998a4;
	color:#FFF;
}

.journey-left { 
	background-color:#7291b0
}
.journey-left img { padding:95px 0 0 50px; }
.journey-right {
	background-color:#c58634;
	color:#FFF;
}

.gallery .about-block{
	width:100%;
	overflow:hidden;
	font-size:11px;
	line-height:16px;
	color:#7d7d7d;
	padding:13px 0 0;
}
.gallery .about-block .img-box{
	float:left;
	border:1px solid #b8a27a;
	padding:4px;
	margin:0 8px 0 0;
}
.gallery .about-block .img-box img{display:block;}
.gallery .about-block h2{
	font-size:26px;
	line-height:28px;
	margin:4px 0 6px;
	color:#c98e42;
}
.gallery .about-block p {
	margin:0 0 5px;
	line-height:20px;
	font-size:1.1em;
	color:#FFF;
	padding: 20px 13px 0 8px;
}

.intro-2{padding:0 27px 3px;}
.g2 .link-prev,
.g2 .link-next{
	background: url(images/btn-prev.png) no-repeat;
	width: 17px;
	height: 20px;
	text-indent:-9999px;
	overflow:hidden;
	top:57px;
	left:13px;
	cursor:pointer;
}
.g2 .link-next{
	left:auto;
	right:13px;
	background: url(images/btn-next.png) no-repeat;
}
.g2 .gallery-holder{padding:11px 0 16px;}
.g2 .gallery-holder ul li{
	float:left;
	width:auto;
	padding:0 4px 0 0;
}
.g2 .gallery-holder a{float:left;}
.g2 .gallery-holder a img{display:block;}
.intro-2 .columns{
	width:950px;
	overflow:hidden;
	margin:0 -30px 0 0;
}
.intro-2 .columns .box{
	float:left;
	width:294px;
	margin:0 18px 0 0;
	border:1px solid #b8a27a;
}
.intro-2 .columns .box img{display:block;}
.add-logo-08{
	display:block;
	width:175px;
	height:162px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/sprites.png) no-repeat 100% 0;
	margin:0 0 6px;
}
#sidebar .chare-link{
	font-size:1.3em;
	line-height:1.1em;
	font-style:italic;
}
.c1 .text-block{
	width:100%;
	overflow:hidden;
	padding:16px 0 0;
	color:#757575;
	position:relative;
}
.c1 .text-block p{
	font-size:1.1em;
	line-height:2.1em;
	margin:0 0 11px;
}
.mini-post-box{
	width:100%;
	overflow:hidden;
	padding:4px 0 0;
}
.mini-post-box .img-box{
	float:left;
	border:1px solid #b79f77;
	margin:0 15px 0 0;
}
.mini-post-box .img-box img{display:block;}
.mini-post-box .txt-box{
	height:1%;
	overflow:hidden;
	padding:16px 0 0;
}
.c1 .mini-post-box .txt-box h2{
	font-size:2.7em;
	line-height:1em;
	color:#b3512e;
	font-weight:normal;
	margin:0 0 11px;
}
.w1 .txt-box h3 { 
	font-family:'Conv_RockwellStd-Light',Sans-Serif;
}

.mini-post-box .txt-01{
	display:block;
	width:269px;
	height:12px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/sprites.png) no-repeat -602px -185px;
}
.mini-post-box .link-more{
	height:1%;
	overflow:hidden;
	padding:12px 33px 0 0;
	font-size:1.3em;
	line-height:1.1em;
	font-style:italic;
	color:#b3512e;
}
.mini-post-box .link-more a{
	color:#b3512e;
	float:right;
	cursor:pointer;
}
.mini-post-box .link-more a:hover span{text-decoration:underline;}
.mini-post-box .link-more span{display:block;}



/*** Fonts ***/
@font-face {
    font-family: 'Conv_RockwellStd';
    src: url('fonts/rockwellstd-webfont.eot');
    src: url('fonts/rockwellstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rockwellstd-webfont.woff') format('woff'),
         url('fonts/rockwellstd-webfont.ttf') format('truetype'),
         url('fonts/rockwellstd-webfont.svg#Conv_RockwellStd') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Conv_RockwellStd-Bold';
    src: url('fonts/rockwellstd-bold-webfont.eot');
    src: url('fonts/rockwellstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rockwellstd-bold-webfont.woff') format('woff'),
         url('fonts/rockwellstd-bold-webfont.ttf') format('truetype'),
         url('fonts/rockwellstd-bold-webfont.svg#Conv_RockwellStd-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Conv_RockwellStd-Light';
    src: url('fonts/rockwellstd-light-webfont.eot');
    src: url('fonts/rockwellstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rockwellstd-light-webfont.woff') format('woff'),
         url('fonts/rockwellstd-light-webfont.ttf') format('truetype'),
         url('fonts/rockwellstd-light-webfont.svg#Conv_RockwellStd-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*** Image Rotator ***/
div.rotator {
    height: 284px;
    margin-left: 0px;
    position: relative;
    width: 268px;
    z-index:1;
}
div.rotator ul li {
    float: left;
    list-style: none outside none;
    position: absolute;
    left:-15px;
    z-index:1;
}
div.rotator ul li img {
    background: none repeat scroll 0 0 #FFFFFF;
    z-index:1;
}
div.rotator ul li.show {
    z-index: 500;
}



.gallery .heroes p { 
	font-size: 14px;
    line-height: 22px;
    padding: 20px 13px 0 8px; 
}

.aside .thumb { padding:0 0 0 50px; }

.manifesto .c1 { margin:0 30px; }
.manifesto .c1 .text-block p { font-size:1.3em; }
.c1 h1 { 
	font-family:'Conv_RockwellStd-Light',Sans-Serif;
	font-size:44px;
	color:#B3512E;	
	font-weight: normal;
	line-height:100%;
}



.post .post-content .placeholder img { width:376px; }



/*
Events
*/
.events{
padding-bottom:20px;
border-bottom: .2em dotted #bcbebd;
}

	.navigation.ev{
	margin:15px 0 0 0px;
	width:100%;
	}
	
	.navigation.ev2{
	margin:15px 0 0 0px;
	width:100%;
	}

.c1 .events h2  a{ 
font-family:'Conv_RockwellStd-Light',Sans-Serif;
font-size:43px;
color:#6cbdb0;
font-weight: 100;
line-height:43px;
margin:0;
padding:0;
text-transform: uppercase;
}

	.c1 .events h2  a:hover{
	color:#B3512E;
	}
	
.schedule-item{
clear:both;
}

	.schedule-item img{
	float:left;
	width:125px;
	height:125px;
	margin-right:20px;
	margin-bottom:40px;
	}
	
	.schedule-item .text_block{
	float:left;
	width:550px;
	padding:0;
	margin:0;
	font-size:14px;
	margin-bottom:40px;
	}
	
	
.sub.blue{
color:#41a2a6;
font-size:25px;
margin-bottom:15px;
}

	
	
#facility-links{
overflow: auto;
clear:both;
margin:auto;
width:680px;
}
	a.facility{
	display: block;
	float:left;
	margin-right:40px;
	}
	
	a.facility img{
	float:left;
	margin-right:5px;
	}
	
	a.facility .fac_title{
	float:left;
	color:#3557a2;
	font-size:11px;
	width:100px;
	line-height: 1.1em;
	font-weight:bold;
	font-family:   Verdana, Arial,serif;
	}
	
	
.menu-item-type-custom {  }
	
	
/* Wufoo Overrides */
label.desc { color:#888!important; font-family:Georgia, 'Times New Roman', serif; }


/* Share It */
#header .share-it { 
	width:192px; 
	position:absolute; 
	right:-19px;
	top:229px;
	z-index:110; 
}

#header .share-it a.share-main { padding:0; z-index:110; position:relative; display:block; width:192px; height:62px; background:url(/wp-content/themes/heroes/images/share-it-sean-banner-off.png) no-repeat 0 0; }
#header .share-it a.share-main:hover { background:url(/wp-content/themes/heroes/images/share-it-sean-banner-on.png) no-repeat 0 0; }
#header .share-drop { display:none; background-color:#d85c36; position:relative; top:-13px; z-index:100; left:8px; width:180px; }
#header .share-drop  ul li.share-stories { display:block; height:48px; border-bottom:1px solid #9a4025; }
#header .share-drop  ul li.share-blog { display:block; height:36px; }
#header .share-drop  ul li a { color:#FFF; text-transform:uppercase; font-size:12px; letter-spacing:1px; font-style:italic; display:block; font-weight:bold; }
#header .share-drop  ul li.share-stories a { padding:20px 0 0 26px; }
#header .share-drop  ul li.share-blog a { padding:8px 0 0 26px; }

#header .story-count { float:right; color:#909090; font-size:16px; }
#header .story-count span { color:#d75932; font-weight:bold; }


/***** Clearfix *****/
.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before, .clearfix:after {content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}
/********************/

/******** Heroes 6K ********/
.heroes6k {font-size:12px}
.heroes6k #headerimg {padding: 7px; height:299px; width:711px; margin-bottom:10px;}
.heroes6k #medal {position:absolute; top:85px; left:540px; width:193px; height:259px; z-index:10; background: url('images/medal.png') 0 0 transparent no-repeat;}
.heroes6k #content6k {width:720px; padding:0 10px 20px 23px; float:left;  border-right:1px solid #b49d67;}
.heroes6k h1 {font-family:'Conv_RockwellStd',serif; color:#5d98a7; font-size:31px; font-weight:bold; text-transform:uppercase;}
.heroes6k h2 {font-family:'Conv_RockwellStd',serif; font-size:22px; display:inline; font-weight:bold; padding:5px 0;}
.heroes6k .registration {background-color:#f2e0c7; width:320px; height:187px; padding:17px 13px; margin:10px 0; float:left;}
.heroes6k .racedetails {background-color:#FFF; width:340px; height:187px; padding:17px 13px;  margin:10px 0; float:left; font-size:13px;}
.heroes6k #sidebar6k { margin-top:10px; width:226px; min-height:800px; float:right;}
#sidebar6k  .social {margin:0 auto; width: 180px}
#sidebar6k h2 {color:#dd7143; font-size:18px; text-transform:uppercase;}
#sidebar6k #socialContainer{border-bottom:1px solid #b49d67; padding: 20px 0 0 0;}
#sidebar6k .social a{ width:40px; height:40px; background: url(images/btn-social.jpg) no-repeat; }
#sidebar6k .social a.btn-rss{background-position:-80px 0;}
#sidebar6k .social a.btn-facebook{background-position:0 0;}
#sidebar6k .social a.btn-twitter{background-position:-40px 0;}
#sidebar6k .social a.btn-youtube{background-position:-120px 0;}
#sidebar6k #raceLocationsContainer{border-bottom:1px solid #b49d67; padding:15px;color:#889344;}
#raceLocationsContainer ul {margin-left:15px;}
#raceLocationsContainer li { list-style-image: url(images/bullet.png); font-size:15px; font-weight:bold;}
#raceLocationsContainer a {color:#889344;}
#sidebar6k .racessidebar {padding:10px; text-align:center;border-bottom:1px solid #b49d67; }
#sidebar6k .racessidebar img {margin:10px 0;}
#sidebar6k .sidebarButton { border: 1px solid #D6C49D; padding:2px;margin: 10px auto;width: 127px;text-align:center;}
#sidebar6k .sidebarButton a {background-color: #DBB168;height: 28px;width: 125px;display: block;color: white; padding-top: 5px; text-transform: uppercase; font-size: 11px; border: 1px solid #F1E0C9;text-decoration:none;}
#sidebar6k .sidebarButton a:hover {text-decoration:none;}
#sidebar6k .racessidebar .sideLocation{font-family:'Conv_RockwellStd',serif; font-size: 18px; font-weight: bold; color:#cc6633;}
#sidebar6k .racessidebar .sideDate {font-family:Georgia; color: #000; font-size:17px;font-style: italic; }
#sidebar6k #sidebarContact {text-align: center;}
#sidebar6k #sidebarContact p {font-family:Georgia; color: #000; font-size:12px;font-style: italic; }
.slideshowlink { display:none; }