body { width:expression(document.documentElement.clientWidth < 1002 ? "1002px" : "auto"&&document.documentElement.clientWidth > 1500 ? "1500px" : "auto"); }
#nav .drop-t {
	background-position:-9999px -9999px;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='wp-content/themes/foundationrecoverynetwork/images/bg-drop-t.png', sizingmethod='crop');
}
#nav .drop-c {
	background-position:-9999px -9999px;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='wp-content/themes/foundationrecoverynetwork/images/bg-drop-c.png', sizingmethod='scale');
}
#nav .drop-b {
	background-position:-9999px -9999px;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='wp-content/themes/foundationrecoverynetwork/images/bg-drop-b.png', sizingmethod='crop');
}
.g2 .link-prev,
.g2 .link-next {
	background-position:-9999px -9999px;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='wp-content/themes/foundationrecoverynetwork/images/btn-prev.png', sizingmethod='crop');
}
.g2 .link-next {
	background-position:-9999px -9999px;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='wp-content/themes/foundationrecoverynetwork/images/btn-next.png', sizingmethod='crop');
}
#footer .item-list li,
.nav li{ z-index: expression( runtimeStyle.zIndex = 1, this == parentNode.firstChild ? (className += " first-child") : 0 ); }
