#form1 { width:900px; }
#form2 { width:700px; }

#form2 .wufoo textarea.textarea { width:700px; }


.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    border:1px solid #c0c0c0;
	padding:8px 5px;
	background:none;
}
.wufoo textarea.textarea { background:url(images/textarea-bg.png) repeat-x 0 0; resize:none; min-width:680px; }

.wufoo .select { background:url(images/textarea-bg.png) repeat-x 0 0; border:1px solid #C0C0C0; padding:8px 5px; }

.wufoo input.text, .wufoo input.file { background:url(images/form-bg.png) repeat-x 0 0; }

.wufoo li.focused { background:none; }

.wufoo .info h2 { font-family:'Conv_RockwellStd', serif; color:#B3512E; font-size:24px; text-decoration:none; }

.wufoo .section h3{ font-family:Georgia,"Times New Roman",Times,serif; }

#form3 header#header { display:none!important; }

.wufoo .instruct { visibility:visible!important; left:462px!important; }
form .instruct { visibility:visible!important; opacity:100!important; left:462px!important; }