#slidecontainer { margin-bottom:20px; }
#slidecontainer .slide { background-color:#e4d8bb; }
#slidecontainer img { width:375px; height:290px; float:left; }
#slidecontainer .details { float:left; width:605px; position:relative; }
#slidecontainer a.stories { display:block; float:left; border-right:2px solid #bd932d; margin:0 0 0 125px; font-size:50px; padding:20px 20px; color:#4e94a1; }
#slidecontainer a.stories:hover { color:#5daebd; text-decoration:none; }
#slidecontainer a.stories span, #slidecontainer a.blog span { font-size:40px; font-weight:bold; } 
#slidecontainer a.blog{ display:block; float:left; margin-top:0; font-size:50px; padding:20px 20px; color:#d85932; }
#slidecontainer a.blog:hover { color:#f26439; text-decoration:none; }
#slidecontainer .hero-image img { width:350px; height:290px; }

/*
#slidecontainer-story { height:215px; position:relative; width:100%; }
#slidecontainer-story .slide { background-color:#e4d8bb; left:0; position:absolute; top:0; width:100%; }
#slidecontainer-story img { width:278px; height:215px; float:left; }
#slidecontainer-story .details { float:left; width:605px; position:relative; }
#slidecontainer-story a.stories { display:block; float:left; border-right:2px solid #bd932d; margin:85px 0 0 70px; font-size:70px; padding:40px 20px; color:#4e94a1; }
#slidecontainer-story a.stories:hover { color:#5daebd; text-decoration:none; }
#slidecontainer-story a.blog{ display:block; float:left; margin-top:85px; font-size:70px; padding:40px 20px; color:#d85932; }
#slidecontainer-story a.blog:hover { color:#f26439; text-decoration:none; }
*/

.share .welcome { color:#4e94a1; font-style:italic; padding:60px 22px 22px; font-size:30px; margin:0; }
.share aside { float:left; width:304px; border-right:1px solid #bd932d; padding:20px 20px 20px 0; }
.share aside p { padding-left:55px; margin-bottom:5px; }
.share aside p.date { color:#bd932d; font-size:22px; font-family:Conv_RockwellStd-Bold; }
.share aside p.where { color:#d85932; font-size:30px; font-family:Conv_RockwellStd-Bold; line-height:95%; }
.share aside p.text { color:#4e94a1; font-size:24px; font-style:italic; line-height:95%; }
.share aside p.videotext { margin-top:20px; font-family:Conv_RockwellStd-Bold; color:#8aae72; text-transform:uppercase; text-align:center; font-size:20px; }
.share aside .video { width:248px; height:142px; border:2px solid #777777; margin-left:55px; }
.share h1 { color:#bd932d; font-size:80px; font-weight: normal; letter-spacing:-1px; font-family:Conv_RockwellStd; text-transform:uppercase; line-height:68%; margin-left:90px; }

.share article { float:left; width:615px; padding-left:40px; }
.share article p { padding:5px 30px 0 20px; font-size:16px; line-height:150%; margin:30px 20px 0 0; }
.share article p a.stories { color:#4e94a1; }
.share article p a.blog { color:#d85932; }

.cycler { margin-bottom:0!important; }
.cycler img { width:980px!important; height:290px!important; }
img.cycle { display:none; }

#map { width:930px; height:460px; border:2px solid #d85932; margin:30px 0 0 24px; }

#blog #left-content-block { float:left; width:745px; border-right:1px solid #b89f77; }
#blog .welcome1 { color:#4e94a1; font-size:20px; font-style:italic; padding:60px 0 0 0px; font-size:42px; margin:0; line-height:100%; }
#blog .welcome2 { color:#4e94a1; font-size:20px; font-style:italic; padding:0 0 0 30px; font-size:42px; margin:0; line-height:100%; }
#blog .slide .title { color:#bd932d; font-size:100px; font-family:Conv_RockwellStd; text-transform:uppercase; line-height:68%; padding:5px 0 0 85px; }
#blog .date { width:236px; height:166px; float:right; margin-top:-140px; background:url(../images/header-day.png) no-repeat 0 0; }
#blog .date p { font-style:italic; color:#FFF; font-size:54px; text-transform:uppercase; text-align:center; padding:70px 0 0 0; }
#blog .date p.before { color: #FFFFFF;
    font-size: 26px;
    font-style: normal;
    line-height: 100%;
    padding: 26px 50px 0;
    text-align: center;
    text-transform: uppercase;
	font-family:Conv_RockwellStd;	}
#blog .date-top { width:223px; height:125px; background:url(../images/header-day2.png) no-repeat 0 0; margin-left:20px; }
#blog .date-top  p { font-style:italic; color:#FFF; font-size:54px; padding:35px 0 0 35px; line-height:90%; }
#blog .name { font-family:Conv_RockwellStd; font-size:68px; color:#4e94a1; margin-top:70px; }
#blog .hero-image { float:right; width:350px; height:290px; }

#blog .uc { font-family:Conv_RockwellStd; margin:135px 0 0 75px; font-size:30px; text-transform:uppercase; color:#4e94a1; }

/*
#blog .links { margin:12px 0 0 310px; }
#blog .links .blog-link, #blog .links .story-link { float:left; width:75px; padding:0 10px 0 20px; }
#blog .links .blog-link { border-right:1px solid #FFFFFF; padding-right:0; width:75px; }
#blog .links a { color:#d65830; font-family:Conv_RockwellStd-Bold; text-transform:uppercase; font-size:16px; line-height:90%; }
#blog .links a:hover { text-decoration:none; color:#bd932d; }
#blog .links a p { margin:0; padding:0; }
*/

#blog .subnav { height:35px; margin-bottom:15px; border-bottom:1px solid #b89f77; }
#blog .subnav ul { display:block; width:265px; margin:auto; padding-top:8px; }
#blog .subnav ul li { float:left; display:block; }
#blog .subnav ul li a { color:#d65830; font-size:14px; padding:2px 4px; font-family:Conv_RockwellStd; }
#blog .subnav ul li a.active, #blog .subnav ul li a:hover { text-decoration:none; background-color:#b59a72; padding:2px 4px; color:#FFFFFF; }


#blog #content .post h1 { font-weight:normal; }
#blog #content .post h1 a { color:#4e94a1; font-size:26px; font-style:italic; }
#blog #content .about p { text-align:center; font-style:normal; line-height:120%; }
#blog #content .about .day { color:#4e94a1; font-size:32px; border-bottom:1px solid #bb9027; padding-bottom:8px; }
#blog #content .about .day span { font-size:56px; }
#blog #content .about .city { color:#bb9027; font-size:12px; padding-top:8px; }

#footer { width:100%; }
#sidebar .widget { padding-top:0; border:none; }
.twocolumns-2 #sidebar { padding-left:15px; }


.clearfix:after{display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}