/* Unorganized CSS */
    #main-content {
        padding: 0;
    }

    .floating-stories.bottom-screen {
        display: none !important;
    }

    .page-row.row.virtual-background {
    	background-image: linear-gradient(135deg, #329FD0 0%, #40A2AE 100%);
    }

    @media screen and (min-width: 768px) {
    	.virtual-background .col-sm-12.col-md-6.col-lg-4 {
    	    padding: 0;
    	}
    }

    .virtual-card{
    	background: #FFFFFF;
    	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
    	border-radius: 5px;
    	height: 565px;
    	height: 100%;
    	margin: 7.5px;
    }

    .virtual-card.first {
        background: #215C77;
        border: 5px solid #215C77;
        margin: 2.5px;
    }

    .virtual-card.first:before {
        content: '';
        display: inline-block;
        height: 100px;
        width: 59px;
        background-image: url(/wp-content/themes/hir/img/virtual-ribbon.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: -20px;
    }

    @media screen and (max-width: 767px) {
    	.virtual-card.first:before {
            left: 0px;
    	}
    }

    .virtual-card h2 {
        font-family: Lato;
        font-weight: bold;
        text-transform: uppercase;
        color: #6698AE;
        letter-spacing: 0;
        text-align: center;
        font-size: 21px;
        padding-top: 25px;
        border-radius: 5px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .virtual-card.first h2 {
        color: white;
        text-align: center;
        font-size: 21px;
        padding: 12px;
        border-radius: 5px;
        margin-bottom: 0;
        margin-top: 0;
        text-transform: none;
    }

    .virtual-wrapper {
        background: white;
        text-align: center;
        padding: 20px;
        margin-bottom: 0;
        padding-bottom: 0;
        min-height: 400px;
    }

    .virtual-wrapper p {
        font-size: 16px;
    }

    h4.virtual-price.first {
        font-family: Lato;
        font-size: 75px;
        color: #215C77;
        font-weight: bold;
        margin: 0;
    }

    h4.virtual-price {
        font-family: Lato;
        font-size: 75px;
        color: #6698AE;
        font-weight: bold;
        margin: 0;
    }

    h4.virtual-price.first small{
        font-family: Lato;
        font-size: 18px;
        color: #215C77;
        font-weight: bold;
        line-height: 22px;
        position: relative;
        top: -40px;
        left: -5px;
    }

    h4.virtual-price small {
        font-family: Lato;
        font-size: 18px;
        color: #6698AE;
        font-weight: bold;
        line-height: 22px;
        position: relative;
        top: -40px;
        left: -5px;
    }

    .virtual-wrapper li {
        text-align: left;
        list-style-type: none;
        font-family: Lato;
        font-weight: bold;
        font-size: 14px;
        color: #808080;
        padding: 5px 0px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1245px) {
    	.virtual-wrapper li {
    		font-size:12px;
    	}
    	.virtual-wrapper p {
        font-size: 14px;
    	}
    }

    .virtual-wrapper li.not-available {
        color: #B9B7B7;
        font-weight: normal;
    }

    .virtual-wrapper li:before{
       content: '';
       display: inline-block;
       height: 16px;
       width: 16px;
       background-image: url('/wp-content/themes/hir/img/virtual-check.png');
       background-repeat: no-repeat;
       background-size:contain;
       margin-right: 9px;
       position: relative;
       top: 2px;
    }

    .virtual-wrapper li.not-available:before{
    	background-image: url('/wp-content/themes/hir/img/virtual-exit.png');
    }

    .row.virtual-list {
        padding: 0 10px;
    }

    ul.col-sm-6 {
        padding: 0;
        margin-bottom: 0;
    }

    .virtual-wrapper hr {
        border-top: 1px solid #979797;
    }

    h6.virtual-sweeptakes {
        background: white;
        text-align: center;
        padding: 16px;
        margin: 0px;
        font-family: Lato;
        font-weight: bold;
        font-size: 18px;
        padding: 20px;
        padding-bottom: 22px;
        color: #808080;
        margin-top: -60px;
    }

    h6.virtual-sweeptakes:before {
        content: '';
        display: inline-block;
        height: 16px;
        width: 16px;
        background-image: url(/wp-content/themes/hir/img/virtual-star.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top: 1px;
        left: -5px;
    }

    @media screen and (max-width: 767px) {

    	h6.virtual-sweeptakes {
    		margin-top: 0;
    	}

    }

    .virtual-register {
        background: #EFEFEF;
        padding: 22px 20px;
        text-align: center;
        margin: 0px;
        border-radius: 0px 0px 5px 5px;
    }

    .virtual-register button {
        padding: 16px;
        width: 100%;
        background: #215C77;
        color: #FFF;
        border-radius: 5px;
        font-family: Enriqueta;
        font-size: 21px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
    	-webkit-transition:all .3s ease-in-out;
    	transition:all .3s ease-in-out;
    	border: none;
    }

    .virtual-register button:hover {
    	background: #163e50;
    	box-shadow: none;
    	-webkit-transition:all .3s ease-in-out;
    	transition:all .3s ease-in-out;
    }
    .virtual-register.first button {
        padding: 16px;
        width: 100%;
        background: #D15E56;
        color: #FFF;
        border-radius: 5px;
        font-family: Enriqueta;
        font-size: 21px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
    	-webkit-transition:all .3s ease-in-out;
    	transition:all .3s ease-in-out;
    }

    .virtual-register.first button:hover{
    	background: #bb472a;
    	box-shadow: none;
    	-webkit-transition:all .3s ease-in-out;
    	transition:all .3s ease-in-out;
   }

   div#tab-2, div#tab-3, div#tab-4 {
     background: white;
     padding: 24px;
     border-radius: 5px;
     box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
   }

   .tab-nav-row.row.nu-6k-tab {
      background: #27769A;
   }

/* Christians CSS for Buttons/Modals */
    
  /* New Button */
    .virtual-register a:first-child button {
      margin-bottom: 1.5rem;
    }

  /* Reveal Modal */
    .reveal-modal {
      width: 340px;
      padding: 5px;
    }

  /* Close Button */
    .reveal-modal .close-reveal-modal {
      color: #444;
    }

  /* Product Img */
    .reveal-modal img.product-img {
       display: block;
       width: 100%;
    }


  /* Media Queries */
    /* Small only */
      @media screen and (max-width: 39.9375em) {
        .reveal-modal {
          margin-left: -170px;
        }
      }

    /* Medium and up */
      @media screen and (min-width: 40em) {
        .reveal-modal {
          width: 600px;
          margin-left: -300px;
        }
      }

    /* Medium only */
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

    /* Large and up */
      @media screen and (min-width: 64em) {
        .reveal-modal {
          width: 640px;
          margin-left: -315px;
        }
      }

    /* Large only */
      @media screen and (min-width: 64em) and (max-width: 74.9375em) {}


















